[2020-03-25 04:59] mrchauhan2802 commented on #458
But when I run the app no log is printed

[2020-03-25 15:18] paynerc commented on #460
Apple released iOS 13.4 yesterday. @timrozum has tested this in the Video App project (https://github.com/twilio/twilio-video-app-ios/issues/59) and confirmed that the issue no longer exists with iOS 13.4.

Ryan

[2020-03-25 15:18] #460 closed

[2020-03-25 17:30] ceaglest commented on #459
Please reopen this issue if you can provide logs from the impacted iPhone 11 Pro, and more info on the setup (is it using dual or single SIMs?). Our Media Server team is observing that some DTLS handshakes that are not completing and is investigating further on their end.

[2020-03-25 17:30] #459 closed

[2020-03-25 19:19] ceaglest commented on #463
Hi @Isuru-Nanayakkara,

From your screenshot, it looks like the remote party has their device in landscape. If both are iOS devices, holding them in the same orientation will result video that fills more, but not all of the screen. If you just want to crop the video to fill the screen then you can use UIViewContentModeScaleAspectFill.

[code]

It is also possible to use TVICameraSource to choose a

[2020-03-25 20:25] kjoe07 opened #465 "remote video is not shown in one side using replayKit capture"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

having both apps in iOS one can see the other screen but the second only show a blank screen

### Steps to Reproduce

1. connect to the room
2. subscribe to video an

[2020-03-26 07:41] Isuru-Nanayakkara commented on #463
Hi @ceaglest, thanks for the help. Setting the content mode to `. scaleAspectFill` indeed did the trick.

If I were to go with the `TVICameraSource` route, I'll have to check the orientation and device types dynamically to choose the best format, right?

[2020-03-26 13:59] rcodarini opened #466 "ReplayKit & Audio"
### Description

I'm working to an iOS ReplayKit Broadcast Extension in order to stream my iPad screen to a Twilio Room.
The video streaming is working fine but the audio doesn't work.

### Steps to Reproduce

1. I am in a room and the streaming is active
2. I added an ```RPSystemBroadcastPickerView``` to start the Broadcast extension
3. when the starts broadcasting I disconnect the app from the r

[2020-03-26 14:28] gileze33 commented on #226
Did this ever get added to the default audio options? We are still seeing similar issues and can't find any way to configure it

[2020-03-26 16:17] luoser commented on #456
Awesome! will take a look this evening. thanks for addressing the issue

[2020-03-26 17:33] ceaglest commented on #226
Hi @gileze33,

The ability to mix multiple streams of audio is not part of TVIDefaultAudioDevice at this time. We have an example that demonstrates using AVAudioEngine to mix an audio file with audio from the SDK. We are currently updating the example (https://github.com/twilio/video-quickstart-ios/pull/464) to improve compatibility with bluetooth audio, and the changes should be merged this week.

[2020-03-26 18:41] ceaglest commented on #458
Hi @mrchauhan2802,

From the issue template, you can enable debug logs with this snippet:

[code]

Also, you can use the [TVIRoom.sid](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIRoom.html#//api/name/sid) property to get a Room SID at any time after connecting.

Please let us know,
Chris

[2020-03-26 18:43] ceaglest commented on #463
Hey @Isuru-Nanayakkara,

That's good to hear.

Yes that is correct. For example, if one device is an iPad then the default format (640x480) will already fill the screen in most cases.

Best,
Chris

[2020-03-26 18:45] ceaglest commented on #415
Our example apps have been updated to call `TVICameraSource.stopCapture()`.

We are planning to improve the docs around TVICameraSource, and are considering adding automatic stopping behavior as an API improvement. I'm closing this issue since the sample apps were updated.

[2020-03-26 18:45] #415 closed

[2020-03-26 19:43] shahzaibiqbal commented on #457
I am also facing same issue. I tried 3.2.2 and 3.2.1. For me its happening when i receiver a cellular call during video call and if caller end the cellular call i get the same error but if i end the cellular call it works fine. Other thing is when this scenario happen `CXProviderDelegate` method `func provider(_ provider: CXProvider, didActivate audioSession: AVAudioSession)` called instead of tha

[2020-03-27 14:21] kiran4991 commented on #457
I am also facing the same issue

[2020-03-27 14:40] kiran4991 opened #467 "Twilio:: AVAudioSession setActive Error Domain=NSOSStatusErrorDomain Code=561017449"
I am using cocoapod pod 'TwilioVideo', '~> 3.0.1', when I receive  a call from callkit , audio is not working... I can able to see a video , but not able to hear an audio.. I tried

do {
            try AVAudioSession.sharedInstance().setCategory(AVAudioSession.Category.playAndRecord, mode: AVAudioSession.Mode.videoChat, options: .mixWithOthers)
            try AVAudioSession.sharedInstance().setA

[2020-03-27 16:06] ceaglest commented on #467
Hi @kiran4991,

This issue is already being tracked in #457, and I saw you responded on that ticket. Lets keep the discussion in one place.

Thanks,
Chris

[2020-03-27 16:06] #467 closed

[2020-03-27 23:20] lucasalgarra commented on #225
Hi

Did this discussion continue since then? Is there currently a solution for recording the local video?

Thanks

[2020-03-28 06:41] mrchauhan2802 commented on #458
2020-03-28 17:32:19.997100+1100 MDLink Health[13454:4767886] Metal GPU Frame Capture Enabled
2020-03-28 17:32:19.999669+1100 MDLink Health[13454:4767886] Metal API Validation Enabled
http://api.themdlink.com/api/v1/twillo-token?identity=2F3B1031-F613-4B8F-AD66-8343E4493FDC&room_name=appo_room_4744
2020-03-28 17:32:27.549088+1100 MDLink Health[13454:4768652] INFO:Twilio:[Core](0x16c513000): Will co

[2020-03-28 06:42] mrchauhan2802 commented on #458
The code is the same as you given in the GitHub

[2020-03-29 11:29] emraz commented on #438
Hi @ceaglest
I have faced the similar problem, I have attached here my public code link. Please check and help me to resolve the issue. Thanks

https://github.com/emraz/ERScreenRecord

[2020-03-29 14:44] Isuru-Nanayakkara commented on #463
I see. I think `remoteVideoView?.contentMode = .scaleAspectFill` fits my needs fine for now. Thanks for the help!

[2020-03-29 14:44] #463 closed

[2020-03-30 05:49] mrchauhan2802 commented on #458
Any Update ?

[2020-03-30 16:12] ceaglest commented on #438
Hi @emraz,

I can take a look at the code, but can you please provide a stack trace when the assertion occurs?

You can get a trace by typing `bt all` in Xcode's debug console. As far as I know this issue isn't reproducible with our sample code, so a trace would be really helpful to debug it.

Best,
Chris

[2020-03-30 16:32] ceaglest commented on #458
Hi @mrchauhan2802,

I had a look at the first two Participants in the Room. One is iOS 3.2.1 and the other is JS 1.20.1 using Safari 13.0.4. From the iOS SDK perspective I see 15 MB of video sent and 20 MB received. I don't see anything to indicate that either Participant would not be seeing video.

Are you saying that the iOS 3.2.1 Participant did not see the JS Safari 13.0.4 Participant? I am go

[2020-03-30 16:48] emraz commented on #438
Hi @ceaglest
I have tried by typing bt all in Xcode's debug console, but didn't get anything. I have given my code link in first comment, you can easily reproduce. When I press "Start Broadcast" button, nothing happen just shown the message in debug log.

ERScreenRecord[5480:1629564] [Assert] Error in UIKit client: -[UIWindow setScreen:] should not be called if the client adopts UIScene lifecycle.

[2020-03-30 16:55] ceaglest commented on #438
Hey @emraz,

Does setting an exception breakpoint catch the assertion? Once that fires, use `bt all`.

![Screen Shot 2020-03-30 at 9 54 34 AM](https://user-images.githubusercontent.com/1302577/77939829-96303e80-726c-11ea-8328-715200fc2684.png)

Thanks,
Chris

[2020-03-30 16:59] emraz commented on #438
Hi @ceaglest
Nothing!! Exception breakpoint doesn't catch.

[2020-03-30 17:14] ceaglest commented on #438
Okay, thanks for trying it! I will checkout the code that you posted and try to repro locally.

[2020-03-30 19:31] ceaglest commented on #458
I could not reproduce the issue locally with Safari 13.1 in a Peer-to-Peer Room and I am not sure from your description which side (iOS App or Safari on macOS) is not displaying RemoteVideoTracks.

In case the remote video does not render on the iOS app, I will mention that we made some improvements to how the Quickstart example handles rendering when there is more than 1 RemoteVideoTrack. If you

[2020-03-30 19:41] ceaglest commented on #466
Hi @rcodarini,

Are you trying to share just your application's screen or the entire device's screen (including the home screen and other apps)? A broadcast extension is not needed if you only want to share the application's screen.

A broadcast extension cannot playback audio. If you want that you will need to connect a Participant from your main application process.

It should be, did you enable

[2020-03-30 19:44] ceaglest commented on #444
Thanks! Let us know if you have any more questions.

[2020-03-30 19:44] #444 closed

[2020-03-30 21:30] ceaglest commented on #438
Hi @emraz, @SebOh, @ganga1120,

I was able to reproduce the issue with the project provided by @emraz using iOS 13.3.1. There seems to be a bug with RPSystemBroadcastPickerView which occurs after opting into UIScene. In fact, it seems like ReplayKit just doesn't support UIScene properly which is sad because it is Apple's recommended path forward as of iOS 13.

The reason why our ReplayKit example

[2020-03-30 21:52] ceaglest commented on #438
Hello,

Since the offending code is in ReplayKit.framework and doesn't appear to throw I set a symbolic breakpoint. The offending class seems to be private (RPModalSystemPresentationWindow). Here is the stack trace from @emraz's sample project:

[code]

Best,
Chris

[2020-03-30 21:56] piyushtank commented on #457
Hi @ghanshyam-mi @kiran4991 @shahzaibiqbal -

Since CallKit activates the AVAudioSession, it is very important to use TwilioVideo SDK's audio API appropriately while using CallKit to avoid errors.

Have you tried using our [CallKit Quickstart](https://github.com/twilio/video-quickstart-ios/tree/master/VideoCallKitQuickStart.xcodeproj)? The [CallKit Quickstart](https://github.com/twilio/video-quick

[2020-03-30 22:41] piyushtank commented on #225
@lucasalgarra As @ceaglest mentioned on this thread, we have [VideoRendererExample PR](https://github.com/twilio/video-quickstart-ios/pull/286) which demonstrates writing your own custom renderer. We plan to add more example quickstarts in the future but, at present, we do not have a sample app for custom video renderer, so I recommend using [VideoRendererExample PR](https://github.com/twilio/vide

[2020-03-30 22:51] piyushtank commented on #456
Closing the ticket as we have fixed the issue in our quickstart. Feel free to re-open if you run into the issue.

[2020-03-30 22:51] #456 closed

[2020-03-30 22:53] piyushtank commented on #461
Closing this ticket due to lack of enough information, and no activity for 14 days.

[2020-03-30 22:53] #461 closed

[2020-03-30 23:01] ceaglest commented on #225
I am sorry @lucasalgarra, I am kicking myself for not getting the PR merged and officially adding the VideoRendererExample. The ExampleVideoRecorder class in the PR is a good starting point, and should be fine for local video. For remote video that is VP8 or VP9 the recorder won't support the I420 pixel format. If the local video is from the camera then it will be NV12 and is supported.

We genera

[2020-03-30 23:06] piyushtank commented on #379
Closing the ticket assuming the problem is fixed at your end. Feel free to re-open if you run into the issue again.

[2020-03-30 23:06] #379 closed

[2020-03-30 23:10] piyushtank commented on #396
Closing the ticket as there is no activity on this ticket for sometime, feel free to reopen if you run into the issue again. Thanks!

[2020-03-30 23:10] #396 closed

[2020-03-31 01:54] mrchauhan2802 commented on #458
But it's only happening in iOS
Android and web app is fine
By the way, it's not safari its open in iOS app and its happen when I join from the iOS app when I create it's working perfect

[2020-03-31 01:55] mrchauhan2802 commented on #458
if you want you can look out my code

[2020-03-31 01:57] mrchauhan2802 commented on #465
Same issue

[2020-03-31 02:08] emraz commented on #438
Hi @ceaglest,
Thank you so much for your investigation.  I will try using UIApplicationDelegate only.

[2020-03-31 16:43] shahzaibiqbal commented on #457
@piyushtank Yes, i have looked in to mentioned repo and that where i am facing same problem. For some reason call kit delegate `func provider(_ provider: CXProvider, didActivate audioSession: AVAudioSession)` dnt get fired when the other caller end the call.

[2020-03-31 17:11] piyushtank commented on #457
@shahzaibiqbal Are you able to reproduce the bug on CallKit Quickstart? If yes, can you provide the exact steps to reproduce the bug on [CallKit Quickstart](https://github.com/twilio/video-quickstart-ios/tree/master/VideoCallKitQuickStart.xcodeproj) sample app?

[2020-03-31 17:33] shahzaibiqbal commented on #457
@piyushtank. I was able to produce it last time when i tested it couple of days ago. Now when i try to run [CallKit Quickstart](https://github.com/twilio/video-quickstart-ios/tree/master/VideoCallKitQuickStart.xcodeproj) app is crashing. I am using ccode Version 11.4 (11E146). Here are steps which was giving me troubles. You can try them.

1. Install app and place a video call and make sure both s

[2020-03-31 19:02] ceaglest commented on #458
Hi @mrchauhan2802,

The code would be helpful. If you can't share the code publicly, please create a [support ticket](https://www.twilio.com/console/support/tickets/create) that references this issue and post the ticket number here. I will take a look.

Android and web app is fine
By the way, it's not safari its open in iOS app and its happen when I join from the iOS app when I create it's working

[2020-03-31 20:10] piyushtank commented on #457
@shahzaibiqbal I tried to reproduce the issue following the steps ^ using the CallKit Quickstart app. I could not see any problem, the app worked as expected. I have uploaded the video file [here](https://drive.google.com/open?id=1JgF-1y7mlAHxGWU-p6_iRash_QTUpzV_).

.

[2020-03-31 20:21] shahzaibiqbal commented on #457
@piyushtank  Thanks for looking in to it. I am able to solve the issue by add following code in to delegate method ` func provider(_ provider: CXProvider, didDeactivate audioSession: AVAudioSession)`. I dnt know why i am getting issue but doing following resolve the issue for me.
`let cxObserver = callKitCallController.callObserver
        let calls = cxObserver.calls
        guard let call = call

[2020-03-31 20:26] piyushtank commented on #457
@shahzaibiqbal Thanks for the note.

[2020-03-31 20:26] #457 closed

[2020-04-01 00:49] ceaglest commented on #382
Hey @rashidabbas,

The YouTube app has a custom video playback pipeline and doesn't use copy protection for their video content. If you have content that is copy protected (e.x. a Netflix video stream) then it will not be possible to capture it using ReplayKit. If you are using AVPlayer, you can check the [AVAsset.hasProtectedContent](https://developer.apple.com/documentation/avfoundation/avasset/

[2020-04-01 00:49] #382 closed

[2020-04-01 01:07] ceaglest commented on #110
Twilio Video 3.x releases are smaller than 100 MB un-compressed, and bitcode has been a requirement for app store submission for a long time. If you want to commit the framework to source control we recommend [migrating to from 2.x to 3.x](https://www.twilio.com/docs/video/migrating-2x-3x-ios).

[2020-04-01 01:07] #110 closed

[2020-04-01 01:30] ceaglest commented on #299
Hi @mcorner,

I have some updates from the past year that are relevant to this discussion.

1. Network quality for local and remote Participants is now available on iOS, and received a bug fix in [3.2.1](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#321-february-10-2020). Android gained full support as of [5.2.0](https://www.twilio.com/docs/video/changelog-twilio-video-an

[2020-04-01 04:08] mrchauhan2802 commented on #458
so what i do now ?

[2020-04-01 06:07] ceaglest commented on #458
Please share the code either on this issue or via a [support ticket](https://www.twilio.com/console/support/tickets/create).

[2020-04-01 21:27] jgadsby opened #468 "Audio does not continue to route through AirPods after resuming the app."
### Description
See the title.

### Steps to Reproduce

1. Create a room and join it with other participants.
2. Put your paired AirPods / bluetooth headphones on
3. Observe how the audio continues to come out of the speakers, not the AirPods.

#### Code
(Used the sample code)

#### Expected Behavior
Connecting AirPods during a conversation should automatically route the audio through them.

####

[2020-04-02 01:05] piyushtank commented on #468
@jgadsby Thanks for reaching out.

I just tried the scenario using our [Quickstart sample app](https://github.com/twilio/video-quickstart-ios/tree/master/VideoQuickStart). It works as expected - the call established without air pods on, the audio was routing to speaker, and when used the air pods, audio was routing to air pods. I tried back and forth few times with and without air pods on, the aud

[2020-04-02 03:34] piyushtank commented on #465
Hi @kjoe07

Both the files have the same code except the student file stops capturing and recording explicitly when user starts sharing the screen.

<img width="1687" alt="Screen Shot 2020-04-01 at 8 24 33 PM" src="https://user-images.githubusercontent.com/17037593/78207578-f1be2000-7456-11ea-9403-b55c774e6d4f.png">

This looks like an application UI bug to me. But without having complete picture

[2020-04-02 04:38] piyushtank commented on #439
@RahulDhiman93 Apologies for the late response. Drawing on a layer is UIKit specific question, it's not video sdk specific issue. I would be happy to look at the code to help if you share a branch if the problem hasn't fixed yet.

[2020-04-02 09:33] ManishaAstaPartners opened #469 "AudioIssueDuringCall"
###
I am Twilio for my iOS app where we use VoiceCall to send VOIP and as soon as we get connected we disconnect the audio call and connect via video call. The issue which we are facing on doing the same is most of the time while video call gets started we do not receive audio of the caller and callee. And if i try to set audio device the app gets crashed.

7 out of 10 times

[2020-04-02 09:46] mrchauhan2802 commented on #465
Hello Piyush

I have the same issue one side the person cant view and its happen when a user join when it creates the room it's working

What should is do #458

[2020-04-02 12:07] kjoe07 commented on #465
ibas thinking the same and the I just copy paste the UI from storyBoard and the clase from the student class to the professor app. instantiate the same vc in both apps. I expected that no remote video in any app, but the behavior was the same as the code change, the stop recorder method I added because a crash occurs  that says trying to record a recording when already was recording. the code is p

[2020-04-02 12:51] mrchauhan2802 commented on #465
You got any solution ?

[2020-04-02 12:52] kjoe07 commented on #465
not at the moment

[2020-04-02 18:11] piyushtank commented on #465
Hi @kjoe07,

Is it possible you create a branch to reproduce the problem or share a project here on a drive or by [support ticket ](Please share the code either on this issue or via a support ticket.). I will be happy to take a look.

Best,
Piyush

[2020-04-02 19:08] piyushtank commented on #469
@ManishaAstaPartners In order to debug this problem, can you provide following information -

- How are you making the VoiceCall? Are you using TwilioVoice SDK and TwilioVideo SDK in the same app?
- Can you please fill the issue template ?

[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account informati

[2020-04-02 19:27] piyushtank commented on #469
We are tracking this issue https://github.com/twilio/twilio-video-ios/issues/85 Closing this ticket, but feel free to reopen the ticket if you think otherwise.

[2020-04-02 19:27] #469 closed

[2020-04-04 08:45] mrchauhan2802 commented on #458
deinit {
        // We are done with camera
        if let camera = self.camera {
            camera.stopCapture()
            self.camera = nil
        }
    }

    // MARK: UIViewController
    override func viewDidLoad() {
        super.viewDidLoad()

        self.title = "Video Call"
        self.messageLabel.adjustsFontSizeToFitWidth = true;
        self.messageLabel.minimumScaleFactor = 0.75

[2020-04-04 08:45] mrchauhan2802 commented on #458
Here is my code please help

[2020-04-04 18:20] Balasnest opened #470 "Add Video Renderer is taking a lot of time"
### Description

After subscribed to video track for Participant, it's taking **~8 sec** to render the remote view. so participants are seeing blank for a while till video render.
### Steps to Reproduce

2020-04-04 23:31:48.688685+0530 app[3123:7123] TwilioVideo v2.5.6
2020-04-04 23:31:48.695912+0530 app[3123:7123] Video track created
2020-04-04 23:31:48.742783+0530 app[3123:7123] Attempting to co

[2020-04-04 19:50] Balasnest commented on #470
@ceaglest Need your help. Thanks

[2020-04-05 05:15] idelgado commented on #470
@Balasnest please provide one or more Room SIDs where you experienced this issue so we can investigate further.

[2020-04-05 07:01] Balasnest commented on #470
ROOM ID:  5e85d5edf5c70c8897abcfa8
ROOM SID:
RM95a5cd9579df6233a5ecb454909e7f04
RM7039d071ed28491ad156fbcb27a07838
RM437b1c80c58b20d8aa880e8318f29e79

@idelgado Will this helpful? Is there any way to log the room sid through objective-c code.

[2020-04-06 03:29] emraz commented on #438
I have implemented according to your suggestions and its work fine. Thanks a lot.

[2020-04-06 04:33] Balasnest commented on #470
@idelgado @ceaglest Any updates? I would like to know about the time lag between the subscribed video and add renderer.

[2020-04-06 07:53] mrchauhan2802 commented on #458
0","sdpMLineIndex":0,"sdpMid":"audio"}],"complete":false,"revision":7,"ufrag":"h6ZC"},"id":"F7ceDcFC5b823b7AbB1AfE9f9be1F8C8"}],"session":"e385320155430877bd1a284a4a714a5625e12589eb0a7ee217370d1ce7e6126291096240b9eda60054f5fa77fec9231ecaae6d148bac479243210976e7c4ab02","type":"update","version":2},"type":"msg"}
2020-04-06 17:47:43.353016+1000 MDLink Health[23624:7949148] DEBUG:Twilio:[Core](0x16e20

[2020-04-06 07:53] mrchauhan2802 commented on #458
Now you can track the error

[2020-04-06 14:59] GPITwilioMonitor commented on #378
Hi all,

I'm part of a new team that has taken ownership of this feature, apologies for the silence these past couple months. Can we re-open this ticket? I can confirm that the green screen issue is still present for our application.

To keep you up-to-date on some of the specs:

iOS codebase (this is where we broadcast from) and devices:
- Twilio Video SDK iOS 3.0
- Video codec: Vp8Codec with sim

[2020-04-06 16:39] ceaglest commented on #299
Closing, but fell free to reopen if you any more related questions about stats or network quality APIs.

[2020-04-06 16:39] #299 closed

[2020-04-06 16:43] ceaglest commented on #237
Closing, as supporting PiP isn't on our roadmap for 2020. If Apple offers improved support for `AVPictureInPictureController` on iPad OS 14 then we may revisit this issue.

[2020-04-06 17:25] jgadsby commented on #468
@piyushtank do I need to do anything like this before the video chat starts? If I leave it out, AirPods don't work at all:

TwilioVideoSDK.audioDevice = DefaultAudioDevice()

[2020-04-06 17:45] piyushtank commented on #468
@jgadsby  You should not require to set `TwilioVideoSDK.audioDevice` in your app if you are using the DefaultAudioDevice.

Have you tried the Quickstart sample app? I recommend trying it out first, and then compare the code.

[2020-04-06 18:10] paynerc commented on #404
@cyoian,

I apologize for the delay in getting back to you on this issue. Is this still something you are having issues with? Have you taken a look a the PR which @ceaglest referred to above: #408? Does that help solve your issue?

Thank you,

Ryan

[2020-04-06 18:11] piyushtank commented on #470
@Balasnest In the log lines provided above,

[code]

They seem to be running from two different processes and threads. Audiotrack was subscribed on process id 3123 and thread id 7123, while the video track was subscribed on process id 3285 and thread id 792734.

Can you confirm your setup, use case and how you are trying to use video sdk ?

[2020-04-06 18:14] paynerc commented on #255
@dineshflock,

I am closing this issue as there has been no further activity. Please feel free to reopen if you have further information or questions.

Thank you,

Ryan

[2020-04-06 18:14] #255 closed

[2020-04-06 18:20] ceaglest commented on #458
@mrchauhan2802 can you attach a .swift source file? It is very difficult to read your plain text snippet as many parts of the code are broken and commented out.

[2020-04-06 18:29] jgadsby commented on #468
I think I figured it out - I wasn't setting the Opus Audio codec?

[2020-04-06 19:55] ceaglest commented on #458
Hi @mrchauhan2802,

Here is a zipped .swift file that I was able to piece together from the plain text that you provided in your comment.

[VideoNotPreviewed.swift.zip](https://github.com/twilio/video-quickstart-ios/files/4440391/VideoNotPreviewed.swift.zip)

I looked at our logs for RM25e12589eb0a7ee217370d1ce7e61262, the device logs you provided were incomplete. Your Room has up to 8 Participant

[2020-04-06 20:07] ceaglest commented on #88
Closing this issue since VP8 is no longer the only supported video codec and I don't want to use this issue as a placeholder for any and all video codec support in Twilio Video.

[2020-04-06 20:07] #88 closed

[2020-04-06 20:18] #264 closed, assigned to ceaglest

[2020-04-06 21:17] rcodarini commented on #466
Hi @ceaglest,
sorry for the delay,

I would like to share the entire screen, and it works fine

You mean that I have to leave the room connected in the main application? What happens when the app goes in background?

Yes, the microphone is enabled before I start broadcasting

Great

Regards
Roberto

[2020-04-06 22:05] piyushtank commented on #465
Hi @kjoe07,

Were you able to make progress on resolving the issue?

[2020-04-06 22:09] kjoe07 commented on #465
the truth is not able to solve I changed a line of code to make the remote screen frame equals to UIScreen.main.bound an then then I can see the other profesor, but the profesor now cannot see the student, or making radon test one side is not able to wash the other side.
Any tip why does the not working thruh a vpn

[2020-04-06 22:49] piyushtank commented on #465
@kjoe07 To me, this sounds like an app UI bug. Since we are having lot of back and forth, I will be happy to hop on a quick call later today or tomorrow if you like. Let me know.

[2020-04-06 22:52] kjoe07 commented on #465
ok I'll share some code with you and lets try it.

[2020-04-07 06:21] mrchauhan2802 commented on #458
Yes

On Tue, Apr 7, 2020 at 5:56 AM Christopher Eagleston <
notifications@github.com> wrote:

--
Regards
*Manish Chauhan (iOS Developer)*

[2020-04-07 09:12] Balasnest commented on #470
@piyushtank Sorry. I have mismatched the log of Subscribed to video track. It ran on the same thread only.

@ceaglest Are you saying RTT is in higher latency? How can we detect the poor connectivity call? I would like to show it as a warning. This would solve most of the problems.

[2020-04-07 17:02] ceaglest commented on #458
@mrchauhan2802 did you try to disconnect your iOS participants?

Did it resolve the issue?

[2020-04-07 18:24] ceaglest commented on #470
Hi @Balasnest,

You can use the [network quality API](https://www.twilio.com/docs/video/using-network-quality-api) in Group Rooms to detect the quality of the user's connection and show a warning if the quality gets too low.

Yes RTT == Round Trip Time. RTT is a measure of the latency for a full round trip to the server and back. This is the reason for @piyushtank's [comment](https://github.com/tw

[2020-04-08 00:15] nah2015 opened #471 "Use of unresolved identifier 'Settings'"
I am using code directly from the ViewController.swift.  This section in question results in Swift compiler errors.  "Use of unresolved identifier 'Settings'"

#### Code
           `// Use the preferred audio codec
            if let preferredAudioCodec = Settings.shared.audioCodec {
                builder.preferredAudioCodecs = [preferredAudioCodec]
            }

            // Use the preferre

[2020-04-08 00:23] ceaglest commented on #471
Hi @nah2015,

There is a [Settings](https://github.com/twilio/video-quickstart-ios/blob/master/Utils/Settings.swift) class that the examples depend on. It stores any user configurable state that is selected from the settings UI, and populates default values. It's not necessary to use it if you just want the default ConnectOptions, or have some other way of configuring our SDK.

I hope that helps,

[2020-04-08 17:18] #471 closed

[2020-04-09 03:08] mrchauhan2802 commented on #458
Yes issue resolve

[2020-04-09 03:08] #458 closed

[2020-04-09 13:43] #465 closed

[2020-04-09 13:55] GPITwilioMonitor commented on #378
I've also opened a ticket via the Twilio support center regarding this issue (#4112106).

Here is a screenshot of the green screen that is shared within the ticket:
https://p14.zdusercontent.com/attachment/5194/dpeBEmwm2UzCjrAeOtYall80Q?token=eyJhbGciOiJkaXIiLCJlbmMiOiJBMTI4Q0JDLUhTMjU2In0..eN4-NJi3j_loLEzqcYLjoQ.Xo2YOj9AzpHy9Vl9l9YrX52vRyJPLtl4QUT6X-EHwZvoiLPFNfSedMkWjpUet2hMCzxIdGp4RBd4walD90wKM

[2020-04-10 18:02] sylven opened #473 "Cast room through AirPlay"
Hello! I'm trying to make video conferencing app that allows the user to cast the app view or ideally a custom mix of video and audio tracks to an Apple TV through AirPlay.

First of all I'm sorry for the lack of knowledge and for asking questions that might look like they are not directly related with the Video SDK.
I've been searching through all the issues and around many many pages to look for

[2020-04-12 12:04] wazzah-marham commented on #249
worked for me as well (y)

[2020-04-13 10:56] patelvivek9115 commented on #379
@piyushtank Applying this code in my viewDidLoad(), when I pop the view controller and coming back I am getting crash

[code]

[2020-04-13 22:30] Raj123456788 opened #474 "Unable to cast Screen to a conference"
### Description: I selected  Broadcast extension  for iOS  .  from Control center and selecting screen Recording.
I am getting an error : BroadcastExtension  has stopped and Access token is expired or expiration date is invalid.

Now if I run from the app itself Once I click Start Broadcast: I don't see any option of BroadcastExtension Project only Record Screen.

[Description of the issue]

### S

[2020-04-13 23:30] Raj123456788 commented on #474
@piyushtank: Can you please answer my question?

[2020-04-14 00:01] piyushtank commented on #474
@Raj123456788 Can you please fill in the issue template to help us understand the issue? Thanks.

[2020-04-14 10:48] sylven opened #475 "Twilio Video SDK support for tvOS?"
Is there any plans on making Twilio Video SDK compatible with tvOS? It would be useful to make apps that only render tracks (especially because tvOS doesn't support WebViews).

[2020-04-14 15:16] Raj123456788 commented on #474
Hi @piyushtank , when I run the ReplayKitExample: I am unable to see Broadcast Extenstion. I have followed your Read me. But I am unable test the screen broadcast.
![image](https://user-images.githubusercontent.com/16295521/79241530-053e9300-7e28-11ea-9212-4df17e2d40c3.png)

[2020-04-14 15:27] Raj123456788 commented on #474
I am seeing this in control Center. And When I click on Broadcast Extension it says Broadcast Extension has stopped due to invalid or expired access Token.
![ReplayKitControlCenter](https://user-images.githubusercontent.com/16295521/79242862-b1cd4480-7e29-11ea-9195-51bc195fc9e8.png)

[2020-04-14 16:30] piyushtank commented on #474
@Raj123456788  Can you check if the token you are using is valid?

[2020-04-14 17:15] Raj123456788 commented on #474
Yes, I created token this morning.

[2020-04-15 23:04] Raj123456788 commented on #474
@piyushtank :Can you please help me with my question?

[2020-04-16 01:08] SubhajeetS opened #476 "Broadcast extension - How to pass access tokens from the host app"
It's a question rather than an issue.
I am using the replaykit example project to implement broadcasting(even in background).
My host app has the twilio token (my server creates it using twilio rest apis) - now how can i pass the token and room name in extension context so that my broadcast extension can connect using that token?
I am using RPSystemBroadcastPickerView as I am targeting ios >= 12

[2020-04-16 02:52] ceaglest commented on #476
Hey @SubhajeetS,

This is a good question. It used to be possible to pass the information in the setup info for the broadcast. I am not sure how in iOS 12+ since a broadcast extension can be launched from outside of the app, or via RPSystemBroadcastPickerView.

I can investigate this further.

Best,
Chris

[2020-04-16 03:02] ceaglest commented on #474
Hey @Raj123456788,

Access tokens created using the [Testing Tools page](https://www.twilio.com/console/video/project/testing-tools) are only valid for 60 minutes after creation.

We also have a [tutorial for access tokens](https://www.twilio.com/docs/video/tutorials/user-identity-access-tokens) with more info on creating them yourself.

Cheers,
Chris

[2020-04-16 03:16] SubhajeetS commented on #476
Thank you for your prompt reply.
I was wondering if there is a way to achieve screen sharing (even from background) without using RPSystemBroadcastPickerView.
My container and host app are the same. I commented the code for using RPSystemBroadcastPickerView and fallback to the default startBroadcast method - but it lets me share just the app. Screen sharing pauses when it goes to background.

[2020-04-16 15:43] Raj123456788 commented on #474
Hi @ceaglest , I tested within 60 mins and got the above error. But why I don't see the Broadcast extension option? Please see the images attached.

[2020-04-16 18:29] jgadsby commented on #468
@piyushtank I can actually reproduce this issue again. It happens when I leave the app and come back to it. AirPods will stop working and are unable to connect again after returning to the app from a paused state.

[2020-04-16 21:14] ceaglest commented on #474
Hi @Raj123456788,

Is it the access token expired error, or not being able to see video from the broadcast?

ReplayKitExample doesn't render remote video tracks. You can use most of our other sample apps like the [Quickstart](https://github.com/twilio/video-quickstart-ios/tree/master/VideoQuickStart) to render remote video.

Cheers,
Chris

[2020-04-17 09:13] jigar007 opened #477 "Frozen video after coming to foreground from background (similar to 445)"
### Description
[Description of the issue]
Local camera freezes after we send app in the background and take back to the foreground.

I'm getting following errors
(similar to https://github.com/twilio/video-quickstart-ios/issues/445)
ERROR:Twilio:[Platform](0x16f517000): Fatal runtime capture error: Error Domain=AVFoundationErrorDomain Code=-11800 "The operation could not be completed" UserInfo={N

[2020-04-17 09:25] jigar007 commented on #477
@piyushtank  @ceaglest  Can you please help asap, as App is in production.

[2020-04-17 15:56] ceaglest commented on #477
Hi @jigar007,

It sounds like you have more than one TVICameraSource. Two questions to help:

1. Can you use Xcode's memory graph debugger to confirm if there is more than one AVCaptureSession / TVICameraSource / TVICameraCapturePipleline active?
2. Can you confirm with Xcode's debugger that the deinit code you provided is actually being called?

Thanks,
Chris

[2020-04-18 04:40] jigar007 commented on #477
Hi @ceaglest ,

I think the problem is solved now.
deinit was not being called.
What I did was, I put below code in buttonAction before going to another VC, where I was using  CameraSource again.
[code]
But thank you for commenting, I got this idea from your answer only.

Jigar

[2020-04-20 16:36] jgadsby commented on #468
@piyushtank or @ceaglest Do either of you have any ideas why AirPods might stop working upon pausing the app?

[2020-04-20 16:42] ceaglest commented on #468
@jgadsby is this in the AudioDeviceExample or your own app? If its your own app do you have background audio permissions?

[2020-04-20 18:58] jgadsby commented on #468
Never mind, it was an error in our own app. We have some code to re-init the audio capture session when the app is resumed, like so:

`        // Fix issue where audio capture is disabled when returning from background, if you're in a room
        if self.room != nil {
            do {
                try AVAudioSession.sharedInstance().setCategory(
                    .playAndRecord, mode: .video

[2020-04-20 18:58] #468 closed

[2020-04-21 08:02] lo-fo commented on #438
The issue is unfixed as of [XCode 11.4.1] [iOS 13.4.1] ?
Did anyone find a way to get around it ? I was wondering if method swizzling some private APIs could be helpful here.

[2020-04-22 10:53] NaiyerAghaz commented on #388
Yes @piyushtank I am also facing this issue on remote view, how I will fix this?

[2020-04-22 13:32] Cyangineer commented on #379
After awhile of searching and trial and error I figured out my problem on how to use the voice speaker on video call and also toggling back and forth from loudspeaker to voice speaker.

I have a function called `startPreview()`. That's where I _first init_ a track which is the `localVideoTrack`. Once you find where your first track init is placed `TwilioVideo.audioDevice = audioDevice` before that

[2020-04-22 17:50] paynerc commented on #378
@GPITwilioMonitor,

I'm sorry you are still experiencing this issue. I will reopen this ticket and review the support ticket you mentioned above. I will get back to you shortly.

Ryan

[2020-04-23 15:39] sebohdev opened #479 "[Question] No audio signal, when using Call Kit"
Hi everyone,

I'm currently trying to get the ViewController+CallKit.swift running. My use case is, that via PushKit I get a notification, for an incoming call, and then via CXProvider I register an incoming call. If the screen is not locked I have no issue so far, but if the screen is locked I only can hear the other user/participant, but the other one can't hear me.

I checked if the audio track

[2020-04-23 21:47] paynerc commented on #445
All,

Today we released Twilio Video iOS `3.2.5` which ensures that as `TVICameraSource`s are deallocated the associated `AVCaptureSession` is stopped and the strong reference that @ceaglest mentioned is removed. When this automatic cleanup is being performed during the `dealloc` of `TVICameraSource`  you will see `Error` level messages in your log files before and after the underlying `AVCaptureS

[2020-04-24 05:51] srsstyle1 opened #480 "dyld-abort-with-payload-with-no-error-message"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What

[2020-04-24 05:53] srsstyle1 commented on #480
App crashes in real device with this error message
Xcode-11.0

[2020-04-24 18:58] ceaglest commented on #480
Hi @srsstyle1,

Is there any error message or debugger output that you can share?

If you're using manual integration or Carthage it sounds like you haven't embedded the TwilioVideo.framework binary in your application. See the guide for [manual integration](https://www.twilio.com/docs/video/ios-getting-started#manual) and [carthage integration](https://www.twilio.com/docs/video/ios-getting-starte

[2020-04-24 19:32] ceaglest commented on #480
Hi @srsstyle1,

If you are using Xcode 13.3.1 and a free Apple developer account there is an issue with code signing that may cause this crash. If this is the case, take a look at https://github.com/twilio/video-quickstart-ios/issues/460#issuecomment-599621547 for more information.

Best,
Chris

[2020-04-24 21:46] jayeshkv commented on #70
Hi @jannunzi

I am facing the same issues, it builds fine and runs fine locally but when I try to archive it I get the same error, installed via pod file

this is my pod file

ld: library not found for -lPods-TwilioVideo-projectname
clang: error: linker command failed with exit code 1 (use -v to see invocation)

I used the .xcworkspace file to open build & archive via xcode. Let me know if you nee

[2020-04-24 21:58] jayeshkv opened #481 "ld: library not found for -lPods-TwilioVideo-ProjectName clang: error: linker command failed with exit code 1 (use -v to see invocation)"
I have tried looking it up and found the same issue,  https://github.com/twilio/video-quickstart-ios/issues/70

I am facing a similar issue, it builds fine and runs fine locally but when I try to archive it I get the same error, installed via pod file

I used the .xcworkspace file to open build & archive via Xcode.

[Description of the issue]
ld: library not found for -lPods-TwilioVideo-projectnam

[2020-04-25 11:56] rahveekotadiya opened #482 "Capture Failed."
Capture failed with error code = 18446744073709539816 error = The operation could not be completed.

Above message Log output when the issue occurs

Versions
3.2.4 Video iOS SDK via CocoaPods

Language
Objective - C

Xcode - 11.4.1
iOS Version - 13.4

iOS Device -  iPhone Xr
![WhatsApp Image 2020-04-24 at 6 27 51 PM](https://user-images.githubusercontent.com/26811979/80279240-d2df4080-8719-11ea-8b

[2020-04-27 04:54] piyushtank commented on #378
@GPITwilioMonitor - Thanks for reaching out. Yes, we are able to reproduce the bug using our ReplayKit Sample app. We think the problem happens due to the packet loss. Our observation is problem occurs when frame rates supplied by the VideoSource spikes. The problem may disappear by tweaking the [frame rate](https://github.com/twilio/video-quickstart-ios/blob/master/ReplayKitExample/ReplayKitExamp

[2020-04-27 15:47] rskvazh commented on #244
@ceaglest Its very popular feature request for Twilio Video - Client-side subscriptions API. Any news about this? We need this for optimized "spatial" room with many participants

[2020-04-27 18:30] paynerc commented on #482
@rahveekotadiya ,

I'm sorry that you are experiencing this issue. Would you be able to provide a sample of code that you are using to start the camera capture? Has it ever worked for you or does this always happen? It is only failing on the iPhone Xr or does it happen on other devices as well?

Thank you,

Ryan

[2020-04-27 19:02] paynerc commented on #481
@jayeshkv,

We are using Cocoapods to consume TwilioVideo in our [example collaboration app](https://github.com/twilio/twilio-video-app-ios) and we build, archive and deploy almost daily without any issue.

My first question is what version of Cocoapods are you running? Could you try pulling the example application I referenced above and attempt to archive and let me know if you are experiencing t

[2020-04-27 19:54] jayeshkv commented on #481
Hi @paynerc

This is the version that is present in the podfile.lock COCOAPODS: 1.8.4

[2020-04-27 19:59] jayeshkv commented on #481
Hi @paynerc,

This is the version that is present in the podfile.lock is COCOAPODS: 1.8.4,
I pulled in the sample application and it builds / archives fine. Any specific reasons this error would come across only during archiving ?

Thanks

[2020-04-27 20:38] GPITwilioMonitor commented on #378
Hi @piyushtank - I'm glad you were able to reproduce the issue on your end. In the past we did experiment with differing frame rates - nothing effectively eliminated the green screen flash.

I also should call out: we don't actually use any of the retransmission logic. We encountered a crash a while back from within the `dispatchRetransmissions` function. Additionally, the `ExampleCoreAudioDeviceG

[2020-04-27 20:41] piyushtank commented on #378
@GPITwilioMonitor Sure, I would be happy to take a look at your version of `ReplayKitExampleCode.swift`. My email address is ptank@twilio.com.

[2020-04-27 20:41] paynerc commented on #481
@jayeshkv,

Have you tried pulling the example I referenced above and seeing if that works? Or have you tried to archive one of the Quickstart apps? I just pulled the latest out of this repo and archived the `AudioSinkExample` with no issue. I am using Cocoapods 1.8.4 and Xcode 11.4 locally.

Ryan

[2020-04-27 20:46] jayeshkv commented on #481
@paynerc

sorry, I pulled this repo and ran one of the quickstart apps (video-quickstart-ios/MultiPartyExample) and yes it did build fine archive without any issues.

[2020-04-27 20:49] paynerc commented on #481
@jayeshkv,

OK. That is a good starting point. We know that it *can* work for you. Just need to figure out the bits where it is failing. Was this an existing project that you are integrating TwilioVideo into or a new project? Are you using other Cocoapod decencies?

Have you tried running `pod deintegrate` and then re integrating the dependencies?

Ryan

[2020-04-27 20:55] jayeshkv commented on #481
@paynerc

Yes, It is an existing project that we are trying to integrate and this is the only framework in the podfile (as others are manually imported).

`pod disintegrate` was one of the first steps I tried.

Thanks.

[2020-04-27 21:01] paynerc commented on #481
@jayeshkv,

TwilioVideo can also be manually integrated if you didn't want to add Cocoapods to your project. Take a look at the [Manual Integration](https://www.twilio.com/docs/video/ios-getting-started#manual) section of the docs for information on how to do that.

As far as getting cocoapods working reliably... I am wondering if there is a conflicting build setting with the Release builds that i

[2020-04-27 22:07] jayeshkv commented on #481
@paynerc

I tried to a release build without archiving(product -> scheme -> Edit scheme -> Archive -> Debug (from release)), still the same issue.

I tried installing via manual installation (step 2) and this is what I get when I try to build it (i did clear the derived data folder).

ld: framework not found TwilioVideo
clang: error: linker command failed with exit code 1 (use -v to see invocation

[2020-04-27 22:30] jayeshkv commented on #481
I tried to a release build without archiving(product -> scheme -> Edit scheme -> Archive -> Debug (from release)), still the same issue.

I tried installing via manual installation (step 2) and this is what I get when I try to build it (i did clear the derived data folder).

`Undefined symbol: _OBJC_CLASS_$_TVIH264Codec
Undefined symbol: _OBJC_CLASS_$_TVIG722Codec
Undefined symbol: _OBJC_CLASS_$_T

[2020-04-28 13:56] paynerc commented on #481
@jayeshkv,

Twilio Video 3.x supports iOS 11 and newer. With that being said, we only support 64 bit slices in the framework. I am assuming that your deployment target is less that iOS 11 an you are still supporting 32 bit architectures.

My guess is that when you are building locally and testing, you are connected to a 64 bit device and everything works fine. When you are archiving, Xcode builds

[2020-04-28 14:20] rahveekotadiya commented on #482
Hello @paynerc

Recently i updated framework with cocoapods with latest twillio sdk.
I used manual framwork before this.

i find the change between old code and new code

like this is old Method  for connect room:

self.room = [TwilioVideo connectWithOptions:connectOptions delegate:self];

and below is new method:

self.room = [TwilioVideoSDK connectWithOptions:connectOptions delegate:self];

Is t

[2020-04-28 16:43] parvbhaskar opened #483 "make video view to float over app [HELP]"
I was trying to add the MultiPartyViewController as a child view on the appdelegate's window object to make it visible all over the app to make it similar like the whats'app video call feature.

But at that time the only message getting printed is "Attempting to connect to room:" after that nothing happen.

Is there any other way I can achieve this, so that user should feels same like the whatsapp

[2020-04-28 16:55] parvbhaskar commented on #483
for the code reference I'm using exectly the same viewcontroller "MultiPartyViewController" by passing roomID and accesstoken

[2020-04-28 20:00] jayeshkv commented on #481
@paynerc removing 32bit from the build architecture seems to have fixed the issue, thanks.

[2020-04-28 20:30] paynerc commented on #481
@jayeshkv,

Thanks for getting back to me. I am going to close this issue, but feel free to reach out again if you have any further issues.

Ryan

[2020-04-28 20:30] #481 closed

[2020-04-29 12:38] rahveekotadiya commented on #482
In is comment i attached complete log text file from starting

right now i m not able to see video of participent but i am able to listent audio

please check and guide me proper solution.

[twillio_Logs.txt](https://github.com/twilio/video-quickstart-ios/files/4551641/twillio_Logs.txt)

[2020-04-29 18:54] ALFriedman commented on #379
We are using Swift, and this same issue is baffling me. I tried following the answers in this thread as well as the gist and various other examples. Some of the answers include this in the block:

Some examples include "DefaultAudioDevice.DefaultAVAudioSessionConfigurationBlock()"  (or the older variant)
I tried with that line and without. No change.

Some of the examples call "audioSession.setAct

[2020-04-29 19:35] paynerc commented on #482
@rahveekotadiya,

In your application are you listening for the `didSubscribeToVideoTrack:...` `RemoteParticipantDelegate` call back method and then add the published track to a renderer, such as `TVIVideoView`?

As far as not being able to capture, by chance are you attempting to start the camera capture when your application is in the background, via accepting a CallKit notification or the like?

[2020-04-30 09:53] mialex opened #484 "Audio is not working after waiting for the participant for more then 15 minutes"
### Description

Hello, as far as I'm not an expert in iOS development, that's why I can't identify if this issue is related to some missed logic in the quickstart-ios. I was using a **MultiPart** example. Seems like it's been removed, as I can't see this project right now. I expect that MultiPart video was moved to **twilio-video-app-ios** repository.

Anyway, I have an issue with the audio and I

[2020-04-30 10:53] dsngeu opened #485 "53005 "DNS resolution for signaling failed""
I am getting this error from delegate when I try to connect room via valid token and valid room name for video call

func roomDidFailToConnect(room: Room, error: Error) {
Error Domain=com.twilio.video Code=53005 "DNS resolution for signaling failed" UserInfo={NSLocalizedDescription=DNS resolution for signaling failed}
}

how to solve this problem?
what is reasons of this error?

[2020-04-30 11:30] mialex commented on #484
After doing more research I found out that indeed the issue was caused by the **Default audio device received AVAudioSessionInterruptionTypeBegan.** Af far as the session was interrupted and never got back I've decided to deactivate the session manually. Luckily that helped.

[code]

Maybe you have some better options or suggestions on how to deal with that or if this fix will be included in the n

[2020-04-30 12:27] Balasnest commented on #470
@ceaglest @piyushtank After changing the media region it improved connectivity and latency a lot better and also I have planned for an upgrade.

Closing it for now. will reopen if anything required.

Thanks!

[2020-04-30 12:27] #470 closed

[2020-04-30 16:02] ceaglest commented on #485
Lets use the other issue you filed: https://github.com/twilio/twilio-video-ios/issues/91

[2020-04-30 16:02] #485 closed

[2020-04-30 21:41] neuralxmasaki opened #486 "iOS app crashes often by raising this error "EXC_BAD_ACCESS KERN_INVALID_ADDRESS""
We developed a two way video communication platform with Twilio,
and testing via testflight on iOS.

Here is the line the app crashes.
twilio::media::TVIVideoRendererNativeAdapter::OnFrame(webrtc::VideoFrame const&)

We are running the app with testflight and running google firebase with it.
Here is the crash report on the firebase. Could you give me any advice of how to fix it?

EXC_BAD_ACCESS KE

[2020-04-30 21:51] neuralxmasaki commented on #486
Just to clarify, I am using the latest SDK (3.2.5 )

[2020-04-30 22:14] ceaglest commented on #486
Hi @neuralxmasaki,

8 Presence 0x104f5cb08 @objc ConferenceManager.displayLinkDidFire(timer:) + 4311468808 (:4311468808)
9 QuartzCore 0x1b8919f24 CA::Display::DisplayLink::dispatch_items(unsigned long long, unsigned

It looks like `ConferenceManager` is a custom `TVIVideoSource` that runs a DisplayLink timer to generate frames. Is there any chance that you could share the code that is delivering t

[2020-04-30 22:31] neuralxmasaki commented on #486
Hi Chris,

Thank you very much for your kind support on this.

Here is the code.

extension ConferenceManager: TwilioVideoDelegate {
    func connectToRoom(isLocalAudio: Bool) {
        guard let accessToken = accessToken else { return }
        // Preparing the connect options with the access token that we fetched.
        let connectOptions = ConnectOptions(token: accessToken) { (builder) in

[2020-04-30 22:48] ceaglest commented on #486
Hi @neuralxmasaki,

Thanks for sharing the code. From what I can tell there isn't a strong guarantee of thread safety for self.videoPixelBuffer, so you might end up delivering an already released CVPixelBuffer when the display link timer fires on the main thread.

[code]

One thought is, could you just deliver the frames from inside `dataOutputSynchronizer` instead of by polling for them on the ma

[2020-04-30 22:55] neuralxmasaki commented on #486
Hi Chris,

Thank you very much for your kind advice.
Are you suggesting me to do something like the following?

`@objc func displayLinkDidFire(timer: CADisplayLink) {
   //removed code form here.
}

func dataOutputSynchronizer(_ synchronizer: AVCaptureDataOutputSynchronizer, didOutput synchronizedDataCollection: AVCaptureSynchronizedDataCollection) {
    //...
    self.videoPixelBuffer = videoPixe

[2020-04-30 23:04] ceaglest commented on #486
Remove all the code from `func displayLinkDidFire`. I think you edited your last message but it was closer the first time:

[code]

[2020-04-30 23:08] neuralxmasaki commented on #486
Hi Chris,

Thank you very much again.
The reason I edited was that I could not find the timer value for the following line.
self.videoFrame = VideoFrame(timeInterval: timer.timestamp, buffer: pixelBuffer, orientation:
  VideoOrientation.left)

Maybe I should do something like the following?
`@objcfunc displayLinkDidFire(timer: CADisplayLink) {
  //removed code form here.
 self.displayTimer = timer

[2020-04-30 23:38] neuralxmasaki commented on #486
Sorry for my naive questions.

I think I could make it work by.
`let interval = (self.displayLink?.timestamp ?? 0.03)
        self.videoFrame = VideoFrame(timeInterval: interval, buffer: pixelBuffer, orientation: VideoOrientation.left)`

Thank you so much for your kind support on this, Chris!

[2020-05-01 04:55] ceaglest commented on #486
Hi @neuralxmasaki,

I haven't tried AVCaptureDataOutputSynchronizerDelegate before, but I think you should use [AVCaptureSynchronizedDataCollection.timestamp](https://developer.apple.com/documentation/avfoundation/avcapturesynchronizeddata/2873975-timestamp) for your TVIVideoFrame. Without being able to run your code this is the closest I can get:

[code]

I hope that helps,
Chris

[2020-05-01 05:15] ceaglest commented on #484
Hi @mialex,

Thanks or writing in. I looked at the Room Sid you provided and I am not sure why the `AVAudioSessionInterruptionTypeBegan` is not coupled with an `AVAudioSessionInterruptionTypeEnded`.

Do you know what causes this interruption to begin in the first place? It doesn't look like it happens when UserOne disconnects from the Room.

I am also wondering if you have [Enabled Background Audi

[2020-05-01 11:49] yatindma opened #487 "Empty credentials in Twilio debugger from iOS"
I am trying to initiate a call from iOS then it's connecting for 2-3 sec and getting disconnected after that and in Twilio debugger we are getting "Empty Credentials", do you have nay idea regarding the same.

[2020-05-01 17:51] neuralxmasaki commented on #486
Thank you very much, Chris!
I tested it and it worked very well!

[2020-05-01 20:05] ceaglest commented on #487
Hey @yatindma,

If I understand your question then I think the best place to discuss is in: https://github.com/twilio/voice-quickstart-ios/issues/342

[2020-05-01 20:05] #487 closed

[2020-05-01 20:19] ceaglest commented on #486
🎉 Awesome!

If you're no longer experiencing crashes let me know if the issue can be closed.

[2020-05-01 20:24] neuralxmasaki commented on #486
Yes, please close it, thanks again Chris!

[2020-05-01 20:26] #486 closed

[2020-05-01 20:27] piyushtank commented on #378
@GPITwilioMonitor We did some investigation on our side - the green screen issue occurs because of the packet loss. This could happen when send bitrate spikes. If you set the minimum fps, it may help little as the encoder optimizes bitrate usage when the still screen image is being sent out upon a higher fps. We think setting the minimum bitrate parameter should help. I have created feature reques

[2020-05-01 20:35] ceaglest commented on #483
Hey @parvbhaskar,

This is a good question. I'm sure a floating video view could be achieved with custom parent / child view controllers but there may be a simpler way to do it.

I should mention that the MultiPartyExample has been removed in favor of [twilio-video-app-ios](https://github.com/twilio/twilio-video-app-ios) which is a more fully featured multi-party collaboration app. Unfortunately,

[2020-05-01 20:43] ceaglest commented on #480
Hi @srsstyle1,

Closing this issue since I didn't hear back from you. Hopefully you were able to resolve the dynamic loader issue. If not reopen the issue and we can diagnose further.

Best,
Chris

[2020-05-01 20:43] #480 closed

[2020-05-01 20:57] timrozum commented on #483
Hi @parvbhaskar,

I think you're probably on the right track using UIWindow to add a global view. Can you confirm that you have gotten video to work correctly inside a simple view controller? And also that you have a simple global view working without video? Want to make sure those are working independently before combining concepts.

Tim

[2020-05-02 04:24] ceaglest commented on #99
Hi Developers,

Thanks for the feedback on this issue. We know there are still improvements to be made, but we feel like 3.x is a significant improvement over the behavior of 2.x when it comes to Participant events.

You should know within 15 seconds if your LocalParticipant is live or "reconnecting" to a Room. For RemoteParticipants there is a grace period of up to 45 seconds to detect failed con

[2020-05-02 04:24] #99 closed

[2020-05-02 04:28] ceaglest commented on #322
Hi Developers,

This error should no longer occur on iOS 13 devices, and we have updated our [known issues](https://github.com/twilio/video-quickstart-ios/tree/master/ReplayKitExample#known-issues) section with this information.

If you are still able to reproduce on an iOS 13.x device, please let us know.

Thanks,
Chris

[2020-05-02 04:28] #322 closed

[2020-05-02 04:31] ceaglest commented on #477
HI @jigar007,

Awesome news! It sounds like the issue is resolved, let us know if you need any more help in the future.

Cheers,
Chris

[2020-05-02 04:31] #477 closed

[2020-05-02 19:03] kamalmobiledev commented on #207
Is this fixed in the 3.x release without relying on a custom audio device to be created?

[2020-05-04 04:38] parvbhaskar commented on #483
@ceaglest thanks for the update about MultiPartyExample, is the new video view has support video 8-10 urs connected to video call ??, thanks for the help by providing the parent child concept, but currently I have been using the uiwindow option to continue my functionality.

@timmydoza yes I have successfully manage to add the video view on UIWindow and change its size to support other app feature

[2020-05-04 14:24] mialex commented on #484
Hi, @ceaglest

Not sure, as after I've made a call and the second participant has disconnected I've put my phone aside and do nothing except staying on the page with the video call and waiting for the second participant to get back on the call. And in some time 10+ minutes or so, I get **AVAudioSessionInterruptionTypeBegan** notification. Maybe because of inactivity iOS system put the application

[2020-05-04 14:29] timrozum commented on #483
@parvbhaskar is your video update issue fixed or is it still a problem?

[2020-05-04 18:25] piyushtank commented on #207
@kamalmobiledev - Your observation is accurate - even if local audio track is not shared, when DefaultAudioDevice is not used, iOS asks for mic permissions. This is because DefaultAudioDevice uses underlying media engine's AudioDevice implementation which initializes AudioUnit with audio capture+render configuration. We plan to provide APIs in future to give more control to developers to control t

[2020-05-04 18:29] piyushtank commented on #475
@sylven At present tvOS is not a supported platform by TwilioVideo SDK, its not in our 2020 roadmap.

[2020-05-04 19:32] kamalmobiledev commented on #207
@piyushtank  - Thanks for the response and also the example .

[2020-05-05 00:37] Horatiu commented on #388
@piyushtank I am also facing this issue with latest SDK. What is the solution for this? re-enabling the video track when app becomes active as opposed to app entering foreground?

[2020-05-05 01:01] piyushtank commented on #388
@NaiyerAghaz Apologies for the delay. Can you provide the detailed scenario and the RoomSID when you observed the issue?

@Horatiu Can you provide the detailed scenario and the RoomSID when you observed the issue?

[2020-05-05 02:54] Horatiu commented on #388
@piyushtank I have fixed it by enabling the video track after applicationDidBecomeActive notification fires as opposed to applicationWillMoveToForeground notification. The way I was able to reproduce was this:

1. In applicationDidEnterBackground notification handler I would set videoTrack?.isEnabled = false and this would disable the video
2. In applicationWillEnterForeground notification handler

[2020-05-05 06:57] ishangrover23 opened #488 "To receive incoming call on locked iphone"
twilio / video-quick-start is working well in all cases, but the one issue is that when phone is locked and we throw the Voip for picking the video call my app is not coming in foreground mode. but when i manually open the app my video is working well. I want to open app automatically when i pick the video
call via voip
can you please help me for that issue

Thanks in Advance.
issue in iPad/iPhone

[2020-05-05 11:05] #475 closed

[2020-05-06 01:06] piyushtank commented on #488
@ishangrover23 What you are observing is iOS CallKit + PushKit behavior and unfortunately it's not in VideoSDK's control. CallKit is primarily designed for audio calls - that allows users to talk when the app is not in foreground. Until Apple releases a framework/feature for video calls, we will have to work around with the CallKit limitations.

[2020-05-06 01:43] piyushtank commented on #388
@Horatiu You should be able to enable/disable a video track while going to foreground/background.  We would like to fix the issue in SDK but when I tried to reproduce, I couldn't. So, I have created a [branch](https://github.com/twilio/video-quickstart-ios/tree/reproduce-background-bug) on our VideoQuickstart sample app to reproduce the bug. Can you try it out and let me know.

[2020-05-06 01:52] piyushtank commented on #479
@sebohdev Apologies for the delay. Thanks for reaching out.
Can you confirm that you are using the guidelines provided by our [CallKit example](https://github.com/twilio/video-quickstart-ios/tree/master/VideoCallKitQuickStart) ? Also, can you provide RoomSID, and logs? You can share logs with us via a support ticket or you can share via email to me ptank@twilio.com

Please enable following logs -

[2020-05-06 15:13] sureshmopidevi opened #489 "Some of Room delegate methods were never calling."
Xcode 11.4.1
Device: iPhone 6s
SDK version: 3.2

When i connected to room
1. `roomDidConnect` was calling and getting remote stream data like video, audio.
2. In Remote participant Delegate -  `didSubscribeToAudioTrack`, `didUnsubscribeFromVideoTrack` were calling

`participantDidConnect` was never calling.

When remote user disconnects
1. `participantDidDisconnect`, `didUnsubscribeFromVideoTrack`

[2020-05-06 16:31] Horatiu commented on #388
actually the above described 'fix' did not work. If I background one or both participants for 2-3 minutes when I foreground either of them the local track will be 'freezed' even though callbacks that video track was enabled would be received at the other end. I'll try to repro on your branch a little later today.

[2020-05-06 18:07] jayeshkv opened #490 "Reuse exisiting room and refresh containerview with remoteparticipants"
I have followed this version of Multiparty example

https://github.com/twilio/video-quickstart-ios/tree/9fffebbef4f2d3cb2a5cf78bcb76949939c810f8/MultiPartyExample

### Description
I have integrated the Multiparty example in our application, The room name gets passed in dynamically via the token as well as in the code to connect to the room.

I have created static class variables that would help ke

[2020-05-06 18:29] paynerc commented on #489
@sureshmopidevi,

Looking at the `RoomDelegate` code you pasted, there is an error with this line:

[code]

And that appears to be bleeding into the following two definitions. I'm not sure if that is how it is in your actual file of if that was just a typo in the Git issue. If it is is your actual file, that might be why the following two delegate methods are not being invoked.

Ryan

[2020-05-06 19:23] sureshmopidevi commented on #489
@paynerc it's a typo in git issue.

[2020-05-06 19:24] paynerc commented on #490
@jayeshkv,

First, I want to make sure I understand your setup correctly. You are using the MultiPartyExampleApp as a basis for adding TwilioVideo into your application and as such:

1. You have brought the `MultiPartyViewController.swift` file into your application and have added a way to bring it up in your application.
2. You have attracted the TwilioVideo specific objects from `MultiPartyViewC

[2020-05-06 19:39] paynerc commented on #489
@sureshmopidevi,

OK. I wasn't sure how that would have even compiled otherwise. So if I am correct in understanding what you are seeing...

1. You have participant A who joins a room
  * `roomDidConnect()` is called.
2. Participant B joins the same room
  * `participantDidConnect()` was never called.
3. Participant B leaves the room
  * `participantDidDisconnect()` was never called.
4. Participan

[2020-05-06 21:12] Horatiu commented on #388
@piyushtank Upon further investigation I am finding that when moving from background to foreground I get cameraSourceDidFail with error message from AVFoundation: "The operation could not be completed" and that is when the call is placed in this state.

Trying now to recover the call by rebuilding the cameraSource and localVideoTrack from scratch and republishing it when this happens. Will let you

[2020-05-07 04:29] Balasnest opened #491 "Audio gets disconnected when phone call received"
# Description
1. Audio gets disconnected whenever a phone call received.
2. Most of the user complains Bluetooth earphones does not work with a video call and audio is not audible with/without a headset.

### Steps to Reproduce

1. Both parties are connected
2. Do phone calls and pick while connected.
3. Audio doesn't work after come back to the room.

#### Expected Behavior

Audio should work aft

[2020-05-07 07:17] sureshmopidevi commented on #489
I have workaround and i assumed that data track causing the issue.

### Connection options
[code]

Data track was assigning to builder by null check. but when i have the following ⬇️ code, video/audio unsubscribing and participant disconnection was not calling.

[code]
After removing data track from connection options. i was abled to get audio/video unpublishing  and participant disconnection call

[2020-05-07 12:46] paynerc commented on #489
@sureshmopidevi,

That sounds like a potentially serious issue if it is happening repeatedly for you. I would like to see the debug level logs for the run where publishing the data track in the connect options is then causing you further issues as well as the code using to create your data track. I would really like to be able to reproduce the issue that you are seeing.  At minimum a Room SID woul

[2020-05-07 13:02] sureshmopidevi commented on #489
@paynerc
We are not using REST API to create rooms, instead we are adding VideoGrant to a dynamic room name by following below guide
https://www.twilio.com/docs/video/tutorials/user-identity-access-tokens#javascript
So will there be a RoomSid in this case also?

[2020-05-07 13:07] paynerc commented on #489
Yes, absolutely. When you connect to a room the Room SID is provided back in the Room object. You can log this out in your `roomDidConnect()` callback.

[code]

If you can reproduce the issue where the data tracks in the connect options is causing issues, please at minimum send a Room SID. As I said, debug level logs would be the most helpful but I understand you may not wish to attach them to thi

[2020-05-07 14:07] sureshmopidevi commented on #489
@paynerc , I have sent an email to `support@twilio.com` along with some log files and required information.

Thanks.

[2020-05-07 14:12] paynerc commented on #489
Thank you, I will keep my eye out for the support issue and will get back to you as soon as possible.

Thank you,

Ryan

[2020-05-07 14:39] jayeshkv commented on #490
Hi @paynerc

Whatever you explained is how the current application works and is what I am trying to achieve. Thanks for the clarification.

[2020-05-07 16:20] paynerc commented on #489
@sureshmopidevi,

I have responded to the support issue. I will move all communications to that medium for the time being and once we come to a resolution I will update this public facing GitHub issue in the case that it may help other developers in the future.

Ryan

[2020-05-07 16:31] paynerc commented on #490
Does the explanation I provided unblock you so you can continue development?

I am going to close this issue but feel free to reopen it or create a new issue if you run into any further issues.

Ryan

[2020-05-07 16:31] #490 closed

[2020-05-07 20:29] jayeshkv commented on #490
Hi @paynerc

whatever you mentioned makes sense, thanks.

[2020-05-08 05:09] Balasnest commented on #491
@paynerc @ceaglest I need your help. Thanks!

[2020-05-08 06:01] ishangrover23 commented on #488
@piyushtank Thanks for your reply , I was also thinking about this (we will have to work around with the CallKit limitations.) so i just want to confirm if i was doing something wrong.

Now for if phone is locked i am using push notification same like as another apps rather then CallKit

[2020-05-08 07:14] raylillywhite commented on #388
@piyushtank I'm also experiencing the issue that @etown mentioned. I've filed a Twilio support ticket #4302109 with a call SID, debug logs and a video of it slowly recovering. This seems different than the issue Horatiu is mentioning, since the frozen video is the remote one for me and etown. We can reproduce this every time we background the app for 5+ minutes (but backgrounding the app briefly i

[2020-05-08 14:29] paynerc commented on #489
Closing this issue as we discussed in the support ticket that the code is actually working as expected and there are no issues in the SDK.

[2020-05-08 14:29] #489 closed

[2020-05-08 14:36] paynerc commented on #482
With regards to the `BackgroundTask` message: This is a new message being output by iOS 13.4.1, which at this time is benign. It is present any time the camera capture starts, not just when a room is joined in the background via CallKit notification. We are investigating our usage of Background Tasks in iOS 13 and will be addressing that message in a future release.

With that said, is there any f

[2020-05-08 15:29] paynerc commented on #491
@Balasnest,

A couple of questions to get started:

1. Is your application using CallKit?
2. Do you have debug logs that you could share when this situation occurs?
3. Do you have any RoomSids that you could share when this situation occurs?
4. Any code surrounding the use of `TVIAudioDevice` and `TVIDefaultAudioDevice`.

Bluetooth connections to things like cars and headphones should "just wok" o

[2020-05-11 07:40] fmatosic opened #492 "Runs on simulator but not on a device"
[Personally Identifiable Information(PII)](https://www.twilio.com/docs/glossary/what-is-personally-identifiable-information-pii)
or sensitive account information (API keys, credentials, etc.) when reporting an issue.

### Description

Running on a iphone xs max results in an error but on a simulator works fine.

### Steps to Reproduce

just use a device instead of a simulator

#### Code

[code]

#

[2020-05-11 13:56] CaptainJeff commented on #358
@paynerc did you ever find a solution to this? I'm facing the same issue

[2020-05-11 14:59] timrozum commented on #483
@parvbhaskar yes the video product can support up to 50 participants.

I'm going to close this issue but if you have any other questions just let me know and we can reopen.

[2020-05-11 14:59] #483 closed

[2020-05-11 20:10] paynerc commented on #492
@fmatosic,

Are you using a free Apple Developer Account for signing the application? The issue you are reporting here sounds very similar to #460. This is an iOS issue and is resolved by upgrading your device to iOS 13.4.1.

Ryan

[2020-05-11 20:39] paynerc commented on #358
@CaptainJeff,

No, I never heard back on the initial report to understand if this is indeed still an issue. How are you getting notifications to your app about an incoming call?

Ryan

[2020-05-11 20:51] CaptainJeff commented on #358
Damn. So I have this issue on older iphones it seems. This works on iphone X and iphone XR just fine (ios 13) but on iPhone SE (13.3.1) and iPhone 7 (12.4.6) I get this issue. I'm using a VOIP notification to listen for the notification and immediately register callkit before calling completion on the notification.

Occasionally I'll get an error like this which will cause a crash

[code]

[2020-05-11 20:58] fmatosic commented on #492
Seems when I lowered the target to ios 11.0 issue is gone and it starts up normal

[2020-05-11 20:58] #492 closed

[2020-05-12 00:30] luoser opened #493 "AVAudioEngine does not play sound locally in a peer-to-peer room"
### Description

AVAudioEngine fails to play music in a Peer to Peer room while waiting for a participant to join.

I understand that in a P2P connection devices wait for another participant in order to publish audio to one another, but playing audio locally should still work with the AVAudioEngine. It is a common use case to play waiting music while waiting for a participant to join a call.

###

[2020-05-12 00:36] piyushtank commented on #388
@raylillywhite Thanks. Followed up on the twilio support ticket.

[2020-05-12 01:34] piyushtank commented on #493
@luoser Thats correct -  what you are observing is an expected behavior. For peer to peer Rooms, the video sdk's media engine doesn't start until the first participant joins. You will have to implement the logic in your app if you like to play an audio file before a remote participant joins.

[2020-05-12 02:10] luoser commented on #493
@piyushtank thank you for the quick reply. The issue is, I need to connect to the room (set the local audio track) in order to join the room and observe the `participantDidConnect` or `roomDidConnect` callbacks. If I play a sound URL using AVAudioPlayer, in my experience with TwilioVideo it has caused issues with the call audio being muted when the participant does connect (https://github.com/twil

[2020-05-12 09:21] BayCem opened #494 "dyld: Library not loaded: @rpath/TwilioVideo.framework/TwilioVideo"
Hi,

I am trying to use TwilioVideo in the project. I added TwilioVideo with a pod and when I am trying to install to real device(just real device), app crashes with the given error:

`dyld: Library not loaded: @rpath/TwilioVideo.framework/TwilioVideo`

What I tried so far:

- Tried with Paid Developer Account.
- Tried to change build system to Legacy.
- Tried to delete `#use_frameworks!` and/or `

[2020-05-13 03:32] ashaykho commented on #247
h

[2020-05-13 03:32] ashaykho commented on #247
I'm having issues where the quality is low and the video freezes often. How do I detect a freeze/improve quality?

[2020-05-13 06:02] milan-galitein opened #495 "How can i screen broadcast in ongoing video call(Help wanted)"
We are trying to do screen broadcasting using replay kit in ongoing video call. If you can provide any demo or sample how ongoing video call can share screen.
I have created extension for screen broadcasting but the problem is that how can i change video and audio codec from broadcast extension.

[2020-05-14 11:38] Ankish commented on #244
@rskvazh : We are considering other platforms because of this feature, else there was definitely no doubt we would move ahead with Twilio. But Thanks!

[2020-05-14 21:31] piyushtank commented on #493
@luoser Yes thats because the real time audio configuration takes over the audio once another participant joins the Call in peer to peer Room. I don't see a better way of achieving an uninterrupted audio from AVPlayer other than -

1. If there is no participant in the Room, and you want to play a file after connected, then start your AVAudioEngineAudioDevice in your app - you app code should expli

[2020-05-14 21:52] piyushtank commented on #495
@milan-galitein Thanks for reaching out.

We already have a sample app for screen sharing in a Room with ReplayKit broadcast extension.
Example - https://github.com/twilio/video-quickstart-ios/tree/master/ReplayKitExample

Check it out and let me know if you have more questions.

[2020-05-14 21:55] piyushtank commented on #494
@BayCem This sounds like either library is not copied properly or not available at the location it expects. Can you try again with following the [instructions](https://www.twilio.com/docs/video/ios-getting-started#1-get-the-programmable-video-ios-sdk) on how to add TwilioVideo library in your ios xcode proejct? Thanks.

[2020-05-14 21:57] #488 closed

[2020-05-15 11:04] milan-galitein commented on #495
@piyushtank  I have already used your demo app. But the situation is like we have ongoing video call where we have already connected to one room . Then after need to do screen sharing using ReplayKit broadcast extension. If you have any idea then just let me know how can we pass video codec from broadcast extension to video call controller?

[2020-05-15 13:49] paynerc commented on #482
@rahveekotadiya,

It's been a while since I heard from you. Are you still experiencing this issue?

Ryan

[2020-05-15 16:08] rahveekotadiya commented on #482
Error has been solved now thanks for your help.

On Fri, 15 May 2020 at 7:19 PM, Ryan C. Payne <notifications@github.com>
wrote:

--
Thanks & Regards,
Ravi Kotadiya.
📱 +919726868172

[2020-05-15 16:09] #482 closed

[2020-05-17 06:42] ksuhr1 opened #496 "How can I get frames from Local Camera Track [Help Wanted]"
### Description
** Not an issue, a question

I want to get the frames from the local video preview view so I can apply face detection using either Apple Vision or OpenCV. I understand for Apple Vision, they receive a CVSample Buffer that contains a single CVImageBuffer. I was trying to create a custom renderer but don't know what to pass for the VideoFrame. Does the localVideoTrack contain the mos

[2020-05-18 12:22] kamleshgk commented on #142
Hi @ceaglest ,
I download this fork and tried running 'VideoQuickStart' on my device.

I get this exception stack trace in debugger and finally a crash with this error.
validateRenderPassDescriptor:842: failed assertion `Texture at depthAttachment has usage (0x01) which doesn't specify MTLTextureUsageRenderTarget (0x04)'

`Main Thread Checker: UI API called on a background thread: -[UIApplication

[2020-05-19 22:37] ceaglest commented on #247
Hi @ashaykho,

Can you open a separate issue so that we can investigate your Rooms further?

Thanks,
Chris

[2020-05-19 22:48] ceaglest commented on #244
Hi @rskvazh @Ankish,

We are focusing on adding Bandwidth Profiles to our mobile SDKs at the moment. This should allow you to improve quality in many common multiparty use cases with only client side APIs by switching off tracks that you don't want to receive.

I don't have a timeline on adding client side subscription APIs. When I have more information I will post an issue in https://github.com/t

[2020-05-20 09:04] halldorlogi commented on #388
Any news on a fix here ?

[2020-05-21 10:43] BayCem commented on #494
Thanks for reply @piyushtank. I was installing `TwilioVideo` with using `Cocoapods`.
Right now, I tried installing `TwilioVideo` manually.

* I downloaded `TwilioVideo.framework.zip`
* I added `TwilioVideo.framework` in `Project->General->Frameworks, Libraries, and Embeded Content` Section and I selected `Embed & Sign`(am I adding correct location?).
* After that I saw `TwilioVideo.framework` in `

[2020-05-21 13:14] AdiAyyakad commented on #496
I personally haven't been able to get this info from the Twilio SDK directly - instead if you create your own "VideoSource" you can own the AVCaptureSession yourself. Then just assign your own class to its sample buffer and forward along the buffer to both consumers - Twilio & your own Vision / OpenCV code.

The twilio capturer is super straightforward to set up:
[code]
+ when you're creating the

[2020-05-22 00:12] aksthelion opened #497 "Live Camera/streaming using twilio video SDK"
Is it possible to use Twilio Video SDK to stream as live camera? I'm trying to implement a live camera in iOS. This will not be a video call but a live streaming with no user interaction. Is it possible? If yes then please provide some hints. I've been searching but didn't find any mention.

[2020-05-22 07:40] suhaskurade8 commented on #305
@paynerc  @mrchauhan2802 Can u share the details how do u solve the issue?

[2020-05-22 11:45] UjeshPatelSA opened #498 "Set frame on local Stream for receiver display"
Facing Frame issues

I Want to set frame on iOS local stream for display video on web app with fix frame.
in web to web video call. we set frame like as below for each local track

Here is web Code for reference
[code]

With Current iOS code. it's display full screen video on web App. but need to fix display frame up to (280,190) on web app from iOS app.

[2020-05-25 16:48] venkatmacapp opened #499 "Play recorded video from ios app"
How to play recorded video and audio from ios app.
1.if I play via webview how to authenticate and play.
2.If I connect via Twilio SDK. how can I use it?
kindly share the code.

Thanks

[2020-05-26 01:57] MichaelDanielTom commented on #226
@ceaglest Do you know if it's possible to easily adapt that engine to play with an HLS livestream? Right now we have a livestream (HLS with video and audio) that's playing from another source, and when you connect to the Twilio Room, we want that livestream to keep playing, and the Room to continue to have full duplex playback + recording. Note that we don't want to transmit any of the audio from

[2020-05-26 13:47] dmichelutti commented on #466
Hi @ceaglest
I'm having the same issue described in this thread. I'm working on the Broadcast Extension to stream both video and audio. The main problem is that ReplayKit seems to reproduce only RPSampleBufferType.audioApp and RPSampleBufferType.video, but not RPSampleBufferType.audioMic, which is important for me to stream.

I've also followed this past thread: [issue7](https://github.com/twilio/

[2020-05-27 20:44] Shagans982 opened #500 "Screenshots in SDK"
Is there anything preventing screenshots to be taken on the TVIVideoView views? Everything I take comes back black. Capturing views other than these work fine.

[2020-05-27 22:47] ceaglest commented on #500
Hey @Shagans982,

I'm not sure, TVIVideoView is rendering with Metal but it doesn't do anything else to protect the content or prevent it from being captured.

There are some alternatives. You could write your own [TVIVideoRenderer](https://twilio.github.io/twilio-video-ios/docs/latest/Protocols/TVIVideoRenderer.html) if you want still frames from each VideoTrack. If you only care about the local

[2020-05-28 09:40] BayCem commented on #494
Still waiting, still not solved. @piyushtank

[2020-05-28 14:38] Shagans982 commented on #500
I am assuming I just need to capture the buffer from `renderFrame` and convert that into a UIImage. When is renderFrame hit bc I put this in place but nothing seems to be coming through while a video is live.

final class RemoteCameraRenderer: TVIVideoView {

    var screenshot: UIImage?

    override func renderFrame(_ frame: TVIVideoFrame) {
        super.renderFrame(frame)
        let image = C

[2020-05-28 16:13] Shagans982 commented on #500
I have also tried obtaining a MLTTexture from Metal to get a screenshot but neither is working.

[2020-05-28 17:08] piyushtank commented on #499
@venkatmacapp can you provide the exact use case and how you are trying to use TwilioVideo SDK?

[2020-05-28 17:11] piyushtank commented on #498
@UjeshPatelSA Can you confirm - are you using java script SDK or iOS TwilioVideo SDK in your app? I recommend posting your question on https://github.com/twilio/twilio-video.js/issues for JavaScript Video SDK specific questions.

[2020-05-28 17:13] piyushtank commented on #497
@aksthelion it should be possible but before I confirm, can you provide the details of the use case that you are trying to achieve?

[2020-05-28 17:24] piyushtank commented on #496
@ksuhr1 Writing custom VideoSource is one way, however easier ways is to implement a VideoRenderer on a track which doesn't require you to write a custom VideoSource.

We have a work-in-progress PR https://github.com/twilio/video-quickstart-ios/pull/286 which demonstrates custom VideoRenderer implementation. [Here](https://github.com/twilio/video-quickstart-ios/blob/0a5f5bdaa043a77f1ea6491ef6b09cc

[2020-05-28 17:29] piyushtank commented on #494
@BayCem Can you make sure the Xcode project has the TwilioVideo framework in embedded framework section.
<img width="940" alt="Screen Shot 2020-05-28 at 10 27 59 AM" src="https://user-images.githubusercontent.com/17037593/83173487-f1947680-a0cd-11ea-891f-681c5fa74b6d.png">

Make sure, you do "copy and save" when you pull TwilioVideo.framework in to your project.

If you still have no luck, try wit

[2020-05-28 21:54] aksthelion commented on #497
In my mobile & web apps I want to show a user's live stream. Streamer will live stream from the app itself. It will be like a typical live camera kind of thing. It's simple usage. Let me know if I've made requirement clear?

[2020-05-29 01:32] ujeshpatel commented on #498
Thanks for the response,  Using iOS TwilioVideo SDK

[2020-05-29 01:33] UjeshPatelSA commented on #498
Thanks for reply, using iOS TwilioVideo SDK

[2020-05-29 13:32] sojitrajayumedex commented on #482
@rahveekotadiya Can you please mention how the error is resolved? I am also facing the same issue.

[2020-05-29 19:49] roupen commented on #476
@SubhajeetS I ended up accomplishing this with App Groups and UserDefaults. So in my broadcast extension this is the code:

[code]

[2020-05-29 19:55] ceaglest commented on #476
Hey @roupen,

Thanks for the suggestion! I think NSUserDefaults would be fine for exchanging Room names but I wouldn't advise storing access tokens there because it is isn't [secure](https://github.com/nielsmouthaan/SecureNSUserDefaults).

Apps in the same [access group](https://developer.apple.com/documentation/security/keychain_services/keychain_items/sharing_access_to_keychain_items_among_a_col

[2020-05-30 08:12] BayCem commented on #494
@piyushtank, thank you for reply. I added into embeded section but somehow it does not work.
After that I deleted twiliovideo.framework and installed as a pod again at this time somehow it's start working.

[2020-05-30 08:13] #494 closed

[2020-06-01 08:03] grago commented on #125
Hello, i was wondering if Twilio has implemented some form of administrative moderation, like remotely muting participants? Or should i implement my own signaling method, as suggested?

Thanks!

[2020-06-01 13:39] namanAstapartners opened #502 "How to identify specific track?"
As a receiver i want to identify whether incoming video track is normal video track[video Call] or it is screen Capture track[screen record]..

[<TVIRemoteVideoTrackPublication: 0x10ed2eed0>
    trackSid: ***
    trackName: ***
    isEnabled: NO
]

by looking into publication details I only find this three values which is something we need to taken care from sender side right? or is there any way

[2020-06-02 16:32] Shagans982 commented on #500
any updates on this?

[2020-06-03 02:53] ksuhr1 commented on #496
@AdiAyyakad  Thank you so much for your input! I will try this out

[2020-06-03 02:56] ksuhr1 commented on #496
@piyushtank Is there anyway I can checkout this VideoRenderer code and see how all the files work together when running on an iphone? I am trying to figure out how to incorporate the the renderFrame function with the original code of this video-quickstart code. Thank you for your response!

[2020-06-09 12:14] chathurka commented on #457
Please consider following function because I had this issue and fixed the issue.

func provider(_ provider: CXProvider, perform action: CXSetHeldCallAction) {
        if (action.isOnHold) {
            stopAudio() // AVAudioSession.sharedInstance().setActive(false)
        } else {
            startAudio() // AVAudioSession.sharedInstance().setActive(true)
        }
        action.fulfill()
}

[2020-06-10 08:49] andschdk commented on #500
Hi @Shagans982

Try implementing a `VideoRenderer` rather than subclassing `TVIVideoView`.

Note: below code is using latest Twilio - 'namespace' is no longer `TVI`

Call `captureFrame(completion: @escaping (UIImage?) -> Void)` to get the next available frame.

[code]

[2020-06-10 11:05] parvbhaskar commented on #483
@timrozum thanks yes it is fixed

[2020-06-10 15:12] sojitrajayumedex opened #505 "Play callertone while connecting participant to the room."
## Description
We have successfully implemented TwilioVoice and TwilioVideo SDK in the iOS application.

TwilioVoice SDK is providing a caller tone while a caller makes a call. But for TwilioVideo SDK there is no way which is playing a caller tone.

I have a requirement to play-caller tone while connecting to the user.

I have played ringtone using the following method when we call a user but it's

[2020-06-11 08:10] MhmdRizk opened #506 "Video freezing after seconds from joining the room."
### Description

First I ran the quickstart app on two different iPhones and tested it and it's working perfectly.
Anyway I copied the whole flow into the new app I want to create, everything is working perfectly for the first few seconds then The video is freezing.
what I mean by freezing that I can see my own preview and the recipient can see his own preview, but the participant and the recipien

[2020-06-12 06:49] andschdk opened #507 "Prevent video to appear on screenshots"
## Question

Hi,
I was wondering if anyone know if it's potentially possible to prevent any video content from appearing on screenshots taken on the device. I'm thinking in the lines of video playback using `AVPlayer`/`AVPlayerLayer`. Here the content is not part of screenshots. Could that somehow be achieved with Twilio you think?

[2020-06-12 07:08] andschdk commented on #507
I think it's called FairPlay Streaming.

[2020-06-12 19:08] ceaglest commented on #507
Hi @andschdk,

That is a good question. The AVPlayer capture protection would only be in place if the content is protected by FairPlay and of course played back by AVPlayer / AVPlayerLayer. The media exchanged in Twilio Video is encrypted with DTLS-SRTP, but this won't be useful for AVPlayer. Once our H.264 decoder receives the NALUs, it might be possible to re-encrypt them with FairPlay and feed

[2020-06-15 06:12] andschdk commented on #507
Thank you for your thoughts on this 👍
Using `UIScreenCapturedDidChangeNotification` will only protect against screen recording if I remember correctly.

[2020-06-16 06:27] ceaglest commented on #502
Hey @namanAstapartners,

I would recommend using some sort of special name like "Screen" to identify the screen captured track. For example:

[code]

Best,
Chris

[2020-06-16 06:29] #502 closed

[2020-06-16 06:35] ceaglest commented on #507
Yes, I guess you are correct. Still, I just don't know how likely / easy it would be to get video into AVPlayer with low enough delay, and even then it would only be H.264 and not other video codecs.

It is possible to playback video using AVSampleBufferDisplayLayer, but I have not tried to screenshot it.

[2020-06-16 12:34] andschdk commented on #507
I don't think I'll proceed with this - I was just curious to hear your thoughts on this. Thanks, I appreciate it 👍

[2020-06-16 12:34] #507 closed

[2020-06-18 19:51] #496 closed

[2020-06-18 19:59] ksuhr1 opened #508 "How to mirror UIStackView custom renderer [help wanted]"
### Description

I am using the ExampleSampleBufferView from https://github.com/twilio/video-quickstart-ios/pull/286 in order to render the frames from the local camera instead of the remote frames as in the Twilio example project.  All is working well as I have changed the previewView outlet from VideoView to a UIStackView, similar to how the ExampleSampleBufferView is rendering the remote frames

[2020-06-22 23:23] tmm1 commented on #237
I reported FB7747223 to apple (on feedbackassistant.apple.com):

[2020-06-23 01:17] ceaglest commented on #237
Thanks! If Apple accepts my lab appointment for tomorrow I will mention your feedback.

[2020-06-23 06:34] gurupatel opened #509 "dominantspeakerdidchange is not getting called in swift"
I want to detect who is speaking in a room, according to that I want to change remote participant video in my front screen. I am using following code : -
Enabling DominantSpeaker by doing
// Preparing the connect options with the access token that we fetched (or hardcoded).
            let connectOptions = ConnectOptions(token: accessToken) { (builder) in
                // Use the local media tha

[2020-06-23 06:44] gurupatel opened #510 "Not able to stop Twilio audio"
I want to stop/unstop Twilio audio same as zoom app does. We are asking our user to enable/disable internet audio permission same as zoom, so for that we need to **stop** whole audio session if it is not enable & **unstop** if it is enable by our users.

So if audio session (Internet audio) is not enable by user, then user should not able to hear any audio from any participant connected in room &

[2020-06-23 14:56] paynerc commented on #509
@gurupatel,

My first thought is that you are using a P2P room and not a Group Room. Would you be able to provide a Room SID where you were experiencing this behavior and we can easily rule that out. If you are using group rooms and still not receiving the callback looking at debug logs would definitely be useful.

Per the new issue template, can you also provide the following?

### Versions

All

[2020-06-23 18:11] mcorner commented on #237
@ceaglest Does ios14 change anything here?  Or just bring the iPad functionality to the iPhone?  We would be interested in putting video calls into PIP.

[2020-06-23 18:22] ceaglest commented on #237
It looks like PiP functionality is coming to the iPhone but with the same constraint of the content being an AVPlayerLayer.

I will be in the AVFoundation lab later today to discuss it with Apple. If you constrain a Room to use H.264 then any of the video content could in theory be played by an AVPlayer if it were remuxed to a transport stream and provided to an AVAsset with a custom protocol. It'

[2020-06-23 18:33] piyushtank commented on #510
@gurupatel I am assuming you are not using CallKit in your app.
Have you tried using [DefaultAudioDevice.enabled](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIDefaultAudioDevice.html#//api/name/enabled) property? It stops and starts audio unit on demand.  Try using it and let me know how it goes.

[2020-06-23 18:33] tmm1 commented on #237
Really appreciate it! I tried to get an appt but missed the window. I will try again for the normal AVFoundation lab later this week.

If you get a chance, could you also mention this issue which affects HDR playback when using AVSampleBufferDisplayLayer:

[2020-06-24 00:25] ksuhr1 opened #511 "CMSampleBuffer is not displaying ExampleSampleBufferView renderer Example"
Hello! I have been following the ExampleSampleBufferView from #286 for a custom render in order to do face detection on local frames and display the results. I was followiing @ceaglest comments on #349 to take incoming local frames, unpack CVImageBuffers, and feed them into my OpenCV face detection. Now I want to display the results of my face detection which gives me a UIImage. In the renderFrame

[2020-06-24 01:17] ThoseGuysInTown commented on #99
For anyone still referencing this, this is a work around I used to make disconnecting instant.

**disclaimer**
this only covers the case of the the user closing the app
DOES NOT cover:
- app crashing
- losing network connectivity

Add to your AppDelegate.swift
[code]

[2020-06-24 01:27] ceaglest commented on #99
Hey @ThoseGuysInTown,

I really like your suggestion! App termination is an area where we should provide better guidance and sample code. I will discuss your feedback with the team.

Thanks,
Chris

[2020-06-24 05:50] gurupatel commented on #510
@piyushtank Working perfect, thanks for fast & proper reply.

[2020-06-24 06:09] gurupatel commented on #509
@paynerc Hi, I have checked with my backend guy, we are using P2P room, because we need EndToEndEncryption in our app. Is any way to use EndToEndEncryption feature in (Regular)GroupRoom for 50 participant? Please suggest.

[2020-06-24 15:07] Shobhit-InstaaCoder commented on #307
Hi When I make video call then receiver end call comes over speaker but who initiate the call they didn't get on speaker mode. I want that call must be on speaker mode at both end. Plz help me out this as I stuck since 1 week.

[2020-06-25 10:20] andschdk opened #512 "Higher quality+resolution frames in local renderer"
Hi,
Currently I'm processing some frames from a custom renderer attached to a local video track.

However the frames are in low resolution (480x640). If I need a higher quality/resolution how would you suggest I approach it? I'm only talking about the local video track, assuming higher quality should be possible here.

I'm not sure how things are related to `AVCaptureSession`, but I guess it has s

[2020-06-25 14:02] mialex commented on #484
[Enabled Background Audio](https://developer.apple.com/documentation/avfoundation/media_assets_playback_and_editing/creating_a_basic_video_player_ios_and_tvos/enabling_background_audio) has helped me to avoid this issue, thx

[2020-06-25 14:02] #484 closed

[2020-06-25 20:27] tmm1 commented on #237
@ceaglest Anything useful in yesterday's lab appt?

[2020-06-25 20:43] ceaglest commented on #237
Hey @tmm1,

There isn't a trivial solution like using AVSampleBufferDisplayLayer, and Apple's engineers couldn't say if they would add it in the future. They asked me to file a feedback in addition to yours.

They did make an interesting suggestion, but there are no guarantees of success. In iOS 14 `AVAssetWriter` can write fragmented mp4 files natively. The idea is to pass-through (or re-encode)

[2020-06-27 16:37] tmm1 commented on #237
@ceaglest I had a crazy idea this morning which may work (or may fail spectacularly): what if we made a dummy AVPlayerLayer, then added a AVSampleBufferDisplayLayer to it as a sub layer?

[2020-06-30 11:40] Balasnest commented on #214
I'm having similar issue. Black Screen appears even after participant video track delegates are called. What would be the issue?

It's happening in android and iOS devices. There is a huge delay after the participant connected.
In iOS, it's taking more time **(10 sec -2 mins)** to display participant video (participant is already joined from the android device)

Reference:
![Screenshot_20200624-22

[2020-06-30 12:10] ammarubaid opened #513 "Incoming Call when App killed (Android)."
Is it possible to get incoming call when android application is killed?
I am receiving Access Token & room name from Firebase Notification even when app is in background or killed but not able to start Android Call screen.

[2020-06-30 12:15] #513 closed

[2020-06-30 16:25] Balasnest commented on #214
Similar issue related to android:
[ios - 536
](https://github.com/twilio/video-quickstart-android/issues/536)
Similar issue related to RN:
[RN - 94](https://github.com/blackuy/react-native-twilio-video-webrtc/issues/94)

[2020-07-01 07:27] Balasnest opened #514 "How to disable video recording except prod?"
Just a query:

I want to disable the video recording feature on Dev and QA environment. How can we achieve this? Is it there any API to disable while making video call request?

[2020-07-01 21:12] #510 closed

[2020-07-01 21:17] piyushtank commented on #500
Closing the ticket as the current solution is discussed in this thread. Please re-open if you have any questions.

[2020-07-01 21:17] #500 closed

[2020-07-01 22:57] #511 closed

[2020-07-02 12:59] Ankish opened #515 "Support screen orientation - Help Wanted"
### Description
In our app, we support all orientations. Using the example app, when we rotate the device, the video in the local track does not rotate as well in the remote participant. How do we support orientation without scenes?
[Description of the issue]

### Steps to Reproduce

1. Run the example app with orientation enabled

#### Video iOS SDK

3.4.0 Twilio SDK

#### Xcode

Xcode 11.5 * upd

[2020-07-02 17:06] ceaglest commented on #515
Hey @Ankish,

Tracking should be automatic as long as your app is not using UIScene. If you use UIScene you need to tell us which scene to track (like the [QS example does](https://github.com/twilio/video-quickstart-ios/blob/master/VideoQuickStart/ViewController.swift#L216)). I see a couple of issues:

1. The 3.x Video SDK requires Xcode 11, but it looks like you are using Xcode 10. The QS is not

[2020-07-02 20:12] ceaglest commented on #508
Hey @ksuhr1,

Since the PR isn't merged yet, its really up to you how to solve this problem. You could add a `shouldMirror` property to `ExampleSampleBufferView` and apply the CGAffineTransform that is needed to mirror.

I tried to have the ExampleSampleBufferView [animate its own CGAffineTransform](https://github.com/twilio/video-quickstart-ios/pull/286/files#diff-4a08fdb27dea22beceb18b355c348a9b

[2020-07-02 21:59] ceaglest commented on #473
Hey @sylven,

Sorry that I did not respond about this ambitious project. I can only offer some advice since there is a lot of ground to cover.

Airplay could work as long as it is playing audio + video only and you don't need to speak to other Participants.

I was wondering if you have tried the Airplay mirroring route? The default audio device might be a problem, but we have a playback only devic

[2020-07-02 22:05] ksuhr1 opened #516 "Changing dimension size of local frames"
### Description

Hello! I am trying to change the capture format dimensions of the local frame to width: 360 and height:480. I used the croppingRequest found on https://www.twilio.com/docs/video/video-source-apis, however it didn't crop or change the dimension size. I'm not sure if cropping is the best option because I don't really want to lose any information. I saw that there is a format provide

[2020-07-03 08:44] dmichelutti opened #517 "Fatal runtime capture error"
Hi, I have an error when using Twilio in call with multiple users. This error is shown when main video source is changed from first user to another one. The result is a black screen.

ERROR:Twilio:[Platform](0x171277000): Fatal runtime capture error: Error Domain=AVFoundationErrorDomain Code=-11800 "L'operazione non è stata completata" UserInfo={NSLocalizedFailureReason=Si è verificato un errore s

[2020-07-03 10:15] Balasnest opened #518 "How can we disabled audio/video track while connecting and enable the same track later?"
1. How can we disabled audio/video track while connecting?

Step to reproduce:
1. Connect to room
2. Disable video track immediately after connect
3. In web twilio js, track for video event is coming but disabled, still track is active for an opponent.

Do we have anything similar to web in native SDK which can disable track while connecting?
[code]

How can I disabled video track at the creation

[2020-07-03 12:10] Ankish commented on #515
2. Worked ! Thanks a ton for quick response.

[2020-07-03 12:10] #515 closed

[2020-07-05 03:46] inertjade opened #519 "Please provide example on how to mix audioMic and audioApp samples in ReplayKitExample BroadcastExtension SampleHandler"
### Description

Room participants cannot hear app audio along with mic audio of the presenter sharing his device screen using ReplayKit.

### Steps to Reproduce

1. Run Twilio Video ReplayKit Example on iPhone A and tap on "Start Broadcast"
2. Run VideoQuickStart on iPhone B and join the same room as Step 1.
3. Note that User on iPhone B can listen in to mic on iPhone A.
4. iPhone A plays a recor

[2020-07-05 04:42] Balasnest commented on #214
Please open this ticket! This is not yet resolved.

[2020-07-07 15:06] paynerc commented on #514
@Balasnest

First I'd like to apologize for the late response getting back to you.

I'm assuming you are talking about your environments, Production, QA and Dev, correct? At the current time, recording is set on a group room when the room is created. So it all depends on how you are creating your rooms.

If you are using the [REST API](https://www.twilio.com/docs/video/api/rooms-resource) to [crea

[2020-07-07 15:26] paynerc commented on #509
@gurupatel,

As I mentioned above, the Dominant Speaker functionality required Group Rooms, as it is the media server in the middle that is able to detect the dominant speaker and broadcasts that information to the other participants in the room.

At the present time Group rooms requires that the media is decrypted at the media server and then is re-encrypted before being transmitted to the other

[2020-07-07 15:39] paynerc commented on #506
@MhmdRizk,

First off I would like extend an apology for not responding to this issue sooner.

Are you still experiencing this issue? Above you stated that you are using TwilioVideo (~>3.0). Can you tell me the exact version that you are consuming?

One thing that would be helpful is if you could provide room sids where this occurs as well as debug level logs from the iOS device?

You can email th

[2020-07-07 15:45] paynerc commented on #518
@Balasnest,

A `LocalVideoTrack` can be published either when you connect to the room via the `videoTrack` property of the `ConnectOptionsBuilder` or can be published at a later time via the `LocalParticipant.publishVideoTrack(_ track: LocalVideoTrack, publicationOptions options: LocalTrackPublicationOptions)` method.

Ryan

[2020-07-07 16:22] Balasnest commented on #514
@paynerc Thanks you for addressing this. I am cleared now. It's great to hear new things.

[2020-07-07 16:22] #514 closed

[2020-07-07 16:32] Balasnest commented on #518
@paynerc Yeah. I have managed to get it to work. Thanks!

[2020-07-07 16:32] #518 closed

[2020-07-07 16:37] paynerc commented on #517
@dmichelutti,

What version of Twilio Video iOS are you using?

I am not sure I understand what you mean by this:

Are you talking about changing the source where your local video is coming from with the camera, or the UI in your app where you are changing the video being displayed in your main UI window?

The error you are describing is coming from our camera capture pipeline. Off the top of my h

[2020-07-07 16:37] paynerc commented on #491
@Balasnest,

Are you still experiencing issues with this?

Ryan

[2020-07-07 16:38] paynerc commented on #404
@cyoian,

It's been awhile since we heard from you on this. I am going to close this issue but feel free to reopen if you are still experiencing the issue.

Ryan

[2020-07-07 16:38] #404 closed

[2020-07-07 16:42] Balasnest commented on #506
This issue is causing in **android** and *iOS*. Huge delay in rendering remote video First frame. Will collate and share SID tomorrow. I have already raised on other thread. Please look into this on priority.

**Similar issue related to iOS:**
[ios - 214](https://github.com/twilio/video-quickstart-ios/issues/214)
[ios - 240](https://github.com/twilio/video-quickstart-ios/issues/240)
[ios - 275](ht

[2020-07-07 16:59] Balasnest commented on #491
@paynerc  Yes. I am not using callKit. Once disconnected phone calls (network) and come back, audio is not connecting. Will reproduce tomorrow and share SID.

[2020-07-07 21:58] rwbayer opened #521 "Seeking CallKit / iOS 13 advice for VOIP push notifications"
Hi there! Less of a true "issue," but I was wondering if anyone from the twilio video team has any advice on the following scenario or any insights into your team's suggested workaround.

In iOS 13, Apple removed the ability to use VOIP pushes for anything other than reporting a new call. Previously, our app used VOIP pushes to cancel ongoing calls for certain cases: caller ends call before callee

[2020-07-07 22:32] piyushtank commented on #521
@rwbayer Thanks for reaching out.

Our iOS Voice SDK ran into the same issue last fall. We followed Apple [guidelines](https://developer.apple.com/forums/thread/117939?answerId=373438022#373438022) and shipped Voice iOS SDK version 5.x to support iOS 13 requirements. Your observation is correct, our Voice SDK creates a persistent connection with our infrastructure once the incoming call push notif

[2020-07-07 23:03] piyushtank commented on #521
I just wanted to add a note here that option (2) above is not a solution but a workaround. Managing two SDKs for one call adds lot of  complexities in the app code, I would try to avoid it and keep it as the last option.

[2020-07-09 20:05] somlaifischer commented on #387
@piyushtank I just ran into this size limit myself after implementing it :)
 is there a recommended mode to share image files across rooms?
i was trying to share as datatrack base64

[2020-07-10 16:36] rwbayer commented on #521
@piyushtank thanks for the ideas! We're going to try a polling approach first. If that doesn't work, we'll try out a long poll/socket with our infra. As a last resort, I'll keep the Voice SDK option in mind. Thanks again for your help, I'll close this for now since that advice was exactly what I was looking for

[2020-07-10 16:36] #521 closed

[2020-07-10 19:46] piyushtank commented on #387
@somlaifischer Data track does not have any recommended mode. It is up to the application on how to it would send/receive data.

[2020-07-10 20:57] piyushtank commented on #516
@ksuhr1 - Most camera supports 480x360 format in built on iOS devices however you can check it by calling `supportedFormatsForDevice` on CameraSource. Also since the 640x480 and 480x360 has the same aspect ratio, I believe cropping will not be required.

Can you try modifying your code to following and let us know?

[code]

[2020-07-10 21:39] piyushtank commented on #505
@sojitrajayumedex Thanks for reaching out. I am not able to reproduce the problem.
When do you stop playing the Ringback? Also it would be useful if you could share a branch on quickstart to demonstrate the problem.

[2020-07-10 21:48] piyushtank commented on #512
@andschdk Apology for the late response.

The Video SDK doesnot use sessionPreset to configure the resolution, instead, we use the VideoFormat APIs for developers to configure the dimenstions of their choice, and internally, in capture pipeline, we apply the activeFormat on the `AVCaptureDevice`.

With Video SDK you can definitely high resolution video by applying the appropriate VideoFormat. See

[2020-07-10 21:50] piyushtank commented on #498
@UjeshPatelSA You can use use our Video source apis to get the output format of your choice. See the [guide](https://www.twilio.com/docs/video/video-source-apis).

[2020-07-10 21:54] piyushtank commented on #497
@aksthelion Apologies for the late response. The streaming itself is not yet supported where you can have thousands of users can view your contents. The feature is in the pipeline but I dont have time line yet as it is still under the discussion. However in our group Rooms, you can still have one way media to all participants in the Room.

[2020-07-10 21:55] piyushtank commented on #499
Closing the ticket due to no activity. Feel free to re-open or create another ticket if you have questions or need help.

[2020-07-10 21:55] #499 closed

[2020-07-10 22:04] piyushtank commented on #388
@halldorlogi We haven't been able to reproduce the problem and our team is busy upgrading the webrtc to latest release. If you have room sid and steps to reproduce, we can take a look. Also reproduction with quickstart will be helpful.

[2020-07-10 22:09] piyushtank commented on #495
@milan-galitein Apologies for the late response. You can connect to a Room from your app and while you are connected to the Room, if you like to share screen, you can launch broadcast extension, and connect and share screen from there. Your presenter will be connected from two places - app, and boradcast extension, your app needs to manage this.

Another option is you can use MMWarmHole to supply

[2020-07-10 22:09] #493 closed

[2020-07-10 22:11] piyushtank commented on #479
Closing this ticket but feel free to re-open or post another ticket if you have any issue.

[2020-07-10 22:11] #479 closed

[2020-07-10 22:12] piyushtank commented on #439
Closing this ticket but feel free to re-open or post another ticket if you have any issue.

[2020-07-10 22:12] #439 closed

[2020-07-10 22:14] piyushtank commented on #348
@dombryan94 Apologies for not following up on this. Were you able to make progress? Let us know if you need our help.

[2020-07-10 22:14] #448 closed

[2020-07-10 22:15] #409 closed

[2020-07-10 22:16] piyushtank commented on #392
@yaalisri Apologies for not following up on this. Are you still facing the problem? Let us know if we could help.

[2020-07-10 22:21] piyushtank commented on #129
@azhuk89 Apologies for not following up on this. Were you able to solve the problem any way? If not, can you provide more details about the use case you are trying to achieve - if you apply the changes on the sender side, your recording should show the effect.

[2020-07-10 22:22] #403 closed

[2020-07-10 22:26] piyushtank commented on #151
0 to 127
https://tools.ietf.org/html/rfc6465

[2020-07-10 22:26] #151 closed

[2020-07-10 22:27] piyushtank commented on #205
We have posted few review feedbacks on the PR. Closing an old ticket.

[2020-07-10 22:27] #205 closed

[2020-07-10 22:33] piyushtank commented on #153
Apologies for not following up on this.

Closing this old ticket, as we shipped new [VideoSource](https://www.twilio.com/docs/video/video-source-apis) APIs. Please reopen this or open a new ticket if you run into an issue with latest information.

[2020-07-10 22:33] #153 closed

[2020-07-10 22:33] #93 closed

[2020-07-10 22:33] #184 closed

[2020-07-10 22:34] #194 closed

[2020-07-10 22:34] #229 closed

[2020-07-10 22:35] piyushtank commented on #277
@kushJadia Apologies for not following on this.

We have shipped tons of new features and improvements. Are you still running into an issue?

[2020-07-10 22:35] #302 closed

[2020-07-10 22:39] piyushtank commented on #339
@MilanNosal Is this problem still reproducible with latest iOS? Can we close this old ticket?

[2020-07-10 22:39] #147 closed

[2020-07-10 22:39] #369 closed

[2020-07-10 22:40] #371 closed

[2020-07-10 22:40] piyushtank commented on #354
@AppolySean Were you able to fix the problem? Can we close this old ticket?

[2020-07-11 21:15] winstondu opened #522 "Question: how well does echo cancellation work when sound comes from speaker?"
# Description

When the `AVAudioSession` mode is `.voiceChat` or `.videoChat`, it seems that Apple aggressively ducks non-voice audio by moving all output audio from the phone's speaker to the phones ear speaker (aka earpiece).

To work around that, our team has elected to set the `AVAudioSession` mode to be `.default` on iOS, with the options `.mixWithOthers` and `.defaultToSpeaker`, even when th

[2020-07-11 21:18] winstondu commented on #522
@piyushtank

[2020-07-12 07:16] MilanNosal commented on #339
@piyushtank Thanks for following up. TBH I forgot about the issue, and since we are not using Twilio anymore, I cannot really confirm reproducibility. Anyway, you can close it for me.

[2020-07-12 07:16] #339 closed

[2020-07-13 13:05] kajaldabrai commented on #500
Where I need to assign this new renderer called FrameCaptureRenderer? To a Video Track?

[2020-07-13 13:20] kajaldabrai commented on #500
How to achieve this? where I can add FrameCaptureRenderer?

[2020-07-13 23:03] inertjade commented on #519
Hi @ceaglest , You may be aware of this already. Agora, another vendor of Video services, has a similar demo app that uses ReplayKit Framework for screen sharing on iOS Devices. That demo app mixes both mic and app Audio streams. Here is the link to the demo app.

Demo App
https://github.com/AgoraIO/Advanced-Video/tree/master/iOS&macOS/Agora-Screen-Sharing

Another helpful link.
https://docs.agora

[2020-07-14 00:15] tmm1 commented on #237
FYI I tried my sublayer idea and it didn't work.

I'm curious if you ever got anywhere with the fmp4 resource loader concept?

[2020-07-14 00:32] ceaglest commented on #519
Hi @inertjade,

Thanks for the request! Demonstrating how to publish mixed app and mic audio is something that we would like to do in ReplayKitExample. In this case I think it could be accomplished either with:

1. An AudioUnit of type `kAudioUnitSubType_MultiChannelMixer`, which takes the mic and app audio and mixes them into a single stream.
2. AVAudioEngine's mixer and manual input.
3. Manually

[2020-07-14 00:46] piyushtank commented on #522
Your observation is correct. When VoiceProcessingIO is used with `voiceChat` or `videoChat`, iOS uses the built-in hardware echo cancellation. And also iOS ducks the volume of the audio played from other resources (say an audio file).

A workaround to this problem is solution is - you can mix audio from the file, and audio from remote participant, and supply it to AVAudioEngine to play it out.

If

[2020-07-14 01:20] winstondu commented on #522
@piyushtank

Are you aware of any workaround to disable ducking on external mixed audio (e.g. audio from other apps, where we have `.mixWithOthers` set) when our app's mic is on, but still benefit from Voice-Processing IO's echo cancellation?

In other words, users can continue being on the twilio call while the hosting app is in the background, while getting full speaker volume for the foreground

[2020-07-14 03:03] inertjade commented on #519
Hi @ceaglest ,

Does any of the 3 different methods you mentioned, support muting, or lowering volume level of either of the mic and app audio? Just that, having the option to mute/lower volume at runtime would be extremely favorable?

[2020-07-14 04:56] piyushtank commented on #522
@winstondu Yes, you can try [these](https://github.com/twilio/video-quickstart-ios/issues/522#issuecomment-657902226) workarounds. In fact, the first workaround of mixing audio from SDK and AVPlayer using MTAudioProcessingTap was recommended by Apple engineers to us in audio lab @ wwdc. I should mention that we haven't tried these workaround yet, but they should give you the intended outcome.

[2020-07-14 05:06] winstondu commented on #522
@piyushtank , I'm afraid I did not communicate my question clearly.

Your answers describe how to avoid audio-ducking on the HOST apps sounds. That is useful, but not what I am asking here.
I am trying to understand if you are able to avoid audio-ducking ACROSS the iOS system.

To explain, we are try to allow users to watch videos on a different app (say the Youtube app, or the Netflix app), while

[2020-07-14 05:15] piyushtank commented on #522
@winstondu Thanks for the clarification.

Are you able to get the audio volume at the expected level when the mode is set to `.default` ? If so, to have echo cancellation, you can use [software AEC](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIAudioOptions.html#//api/name/softwareAecEnabled). Let me know how it goes.

[2020-07-14 05:18] winstondu commented on #522
@piyushtank yes, I am able to get the audio volume to full speaker when using `.default` (which happens to remove VPIO, and hence the ducking).

So are you saying that there is no solution other than **software AEC** to this inter-app audio-ducking problem?

[2020-07-14 05:23] nitinKareer opened #523 "How to know either remote participant unsubscribed to video ?"
I tried below code to stop video

if ( isVideoRendering ) {
            room.localParticipant?.unpublishVideoTrack(self.localVideoTrack!)

            self.camera?.stopCapture(completion: {_ in

                self.isVideoRendering = false
            })

        } else {
            let frontCamera = CameraSource.captureDevice(position: .front)
            let backCamera = CameraSource.captureDe

[2020-07-14 05:30] piyushtank commented on #522
@winstondu Correct. I am not aware of any solution other than using our software AEC APIs. I would keep an eye on CPU utilization when software AEC is used as the software AEC APIs are not widely used and exercised by our QE team and our customers. The main purpose behind adding the software AEC apis was to workaround AEC issues in specific iOS version+device combination when apple releases new iO

[2020-07-14 05:56] winstondu commented on #522
I see. Thank you for the answers.

Would you mind referring me to some sample code on how to change the TVIOptions?

(Note: it is amazing how Apple offers no solution to this problem, and moreover even made audio-ducking in-app so difficult. I noticed that folks [found some crazy C-code ](https://twitter.com/comex/status/562381263978635264)to attach to LLDB to disable audio-ducking for Mac chat ap

[2020-07-14 06:11] piyushtank commented on #522
We don't have a sample app for AudioOptions settings, but following is the code snippet -

[code]

We have filed a feature request to Apple for this feature. Hopefully they will prioritize and provide a solution.

[2020-07-14 06:30] #523 closed

[2020-07-14 13:45] paynerc commented on #509
@gurupatel,

It's been a bit since I have heard back from you on this. I am going to assume the information above was helpful and will close this issue. Feel free to reopen if you have further questions.

Ryan

[2020-07-14 13:45] #509 closed

[2020-07-14 13:46] paynerc commented on #506
@MhmdRizk,

Just checking in to see if you had a chance to provide Room Sids to help troubleshoot this issue.

Thank you,

Ryan

[2020-07-14 15:57] ceaglest commented on #519
Adjusting the volume of each input would be possible with any of the 3 solutions.

[2020-07-14 18:23] ceaglest commented on #508
Hey @ksuhr1,

Just checking, were you able to mirror the `ExampleSampleBufferView`?

Best,
Chris

[2020-07-14 19:57] ksuhr1 commented on #508
Hi @ceaglest! Thank you for the help! I decided to use openCV functions to fix the mirroring because it was as simple as calling one function. Appreciate you checking in!

[2020-07-15 05:18] winstondu commented on #522
"getting audio from AVPlayer using MTAudioProcessingTap"

I figured out how to get the audio, but the process callback is of type:
[code]
How can I, using these parameters, even generate the AVAudioPCMBuffer to feed back to my app's AVAudioEngine?

[2020-07-15 08:51] gurupatel opened #525 "removeRenderer is not working, due to that memory issues are coming"
#201 # Description
I am trying to remove old video render & try to add new one, but it is keeping adding & due to that memory issues are coming & app is crashing.

### Steps to Reproduce
1. Adding a remote video by using addRenderer
                    self.localVideoTrack!.addRenderer(remoteView)
                    self.remoteView!.addSubview(remoteView)

2. Trying to remove that remote video by

[2020-07-15 10:20] mark-veenstra commented on #237
[iOS 14](https://www.apple.com/ios/ios-14-preview/features/) has added the new Picture in Picture feature: https://developer.apple.com/documentation/avkit/adopting_picture_in_picture_in_a_custom_player

[2020-07-16 13:32] paynerc commented on #525
@gurupatel,

It appears that you have a `TVIVideoView` set up in Interface builder that is linked as an `@IBOutlet` to the `remoteView` instance variable.

Then in your `addRemoteVideo(videoTrack:, name:)` method you first check to see that `remoteView` is not nil and then attempt to call `removeRenderer()` on the newly passed in video track. Then you are creating yet another `TVIVideoView`, assig

[2020-07-17 13:40] mouli457 opened #526 "My video and opponent video is not displaying"
I am facing as show in image.Please suggest sample code for latest twilio video configuration.

![Screenshot 2020-07-17 at 3 14 02 PM](https://user-images.githubusercontent.com/39989237/87792080-ff11e580-c860-11ea-9b85-dadc0ac321b8.png)

[2020-07-17 14:55] paynerc commented on #526
@mouli457,

You can use the [`TVIVideoTrackPublication.videoTrack`](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIVideoTrackPublication.html#//api/name/videoTrack) method to get properly typed `TVIVideoTrack` objects.

Let me know if you have any further questions.

Ryan

[2020-07-17 18:44] piyushtank commented on #387
Closing the ticket as answered. If you have any question feel free to reopen this or open a new one.

[2020-07-17 18:44] #387 closed

[2020-07-17 18:46] piyushtank commented on #354
Closing the ticket due to no activity. Feel free to reopen if you run into issue or open a new ticket.

[2020-07-17 18:46] #354 closed

[2020-07-17 18:46] piyushtank commented on #277
Closing the ticket due to no activity. Feel free to reopen if you run into issue or open a new ticket.

[2020-07-17 18:46] #277 closed

[2020-07-17 18:47] piyushtank commented on #348
Closing the ticket due to no activity. Feel free to reopen if you run into issue or open a new ticket.

[2020-07-17 18:47] #348 closed

[2020-07-17 18:48] piyushtank commented on #495
Closing the ticket as answered. Feel free to reopen if you run into issue or open a new ticket.

[2020-07-17 18:48] #495 closed

[2020-07-17 18:48] piyushtank commented on #388
Closing the ticket due to no activity. Feel free to reopen if you run into issue or open a new ticket.

[2020-07-17 18:48] #388 closed

[2020-07-17 18:54] piyushtank commented on #497
Closing the ticket as answered. Feel free to reopen or open a new ticket if you run into issue or have any questions.

[2020-07-17 18:54] #497 closed

[2020-07-17 18:55] piyushtank commented on #498
Closing the ticket as answered. Feel free to reopen or open a new ticket if you run into issue or have any questions.

[2020-07-17 18:55] #498 closed

[2020-07-17 18:55] piyushtank commented on #512
Closing the ticket as answered. Feel free to reopen or open a new ticket if you run into issue or have any questions.

[2020-07-17 18:55] #512 closed

[2020-07-17 18:56] piyushtank commented on #505
@sojitrajayumedex were you able to solve the problem.

[2020-07-20 04:49] mouli457 commented on #526
Hai @paynerc

My issue is when opponent was connected only audio is coming and showing error as shown in above question.My complete code shown below(passing access token).Please correct my code.

//
//  ViewController.swift
//  sierrahealthalerts
//
//  Created by Narasimha  Poluparthi on 17/07/20.
//  Copyright © 2020 Sierra. All rights reserved.
//

import UIKit
import TwilioVideo

class ViewCon

[2020-07-20 15:12] paynerc commented on #526
First question that I have is what version of TwilioVideo are you using? From the code it would appear to be 2.x as we have removed the need for the `TVI` prefix with our classes in Swift starting with 3.0.0.

The methods defined in `RemoteParticipantDelegte` all pass in instances of `RemoteParticipant` and not the base class `Participant`. That is the first thing I am seeing here. If you fix that

[2020-07-20 17:15] mouli457 commented on #526
Actually,My problem is I install TwilioVideo through pods and I use example code in ViewController.swift but i got so many errors.Then I change some keywords with TVI prefix.All errors are fixed but my question issue not fixed and I comment that line and run my project,It's work but opponent video is not displaying.I am using (3.2.5)version.Please tell me pod name which is used in GitHub example o

[2020-07-21 10:19] mouli457 opened #527 "Why latest version pod not installing?"
![Screenshot 2020-07-21 at 6 09 55 PM](https://user-images.githubusercontent.com/39989237/88056027-84590b00-cb7d-11ea-85b3-8b6a93ec4c63.png)
I am using pod 'TwilioVideo' for installing TwilioVideo,but it installing version(2.10.2).I am using Xcode 11.2.1.Please tell me solution.Thanks in advance.

[2020-07-21 16:32] smartphone-pro opened #528 "VoIP Notification"
### Description

I'm building a one-on-one video call.
When I start the call, I want to send the VoIP push notification to the recipient.
I think Twilio does not notify the recipient by default because the video call is based on the room.
Is there a RestAPI that sends VoIP push notification to the recipient, such as a one-on-one voice call?
Thank you.

### Versions

All relevant version informatio

[2020-07-23 07:33] mouli457 opened #530 "How to restrict remote participant video when both are connect to same room?"
I have integrate TwilioVideo functionality in my project.when both users connect to same room by mobile and web.Web user video displaying in mobile without accepting from web.

     var tokenUrl = "http://localhost:3000/token.php"

     // Video SDK components
     var room: Room?
     var camera: CameraSource?
     var localVideoTrack: LocalVideoTrack?
     var localAudioTrack: LocalAudioTrack?

[2020-07-23 16:29] mialex opened #531 "Audio is not working after waiting for the participant for more then 15 minutes (AGAIN)"
### Description

Hello, some time ago I've posted an issue with the audio which stopped working https://github.com/twilio/video-quickstart-ios/issues/484 at that moment it was fixed and was working, but not with the latest version

### Steps to Reproduce & Code & Expected Behavior & Actual Behavior

Please refer to the previous issue to get more details https://github.com/twilio/video-quickstart-i

[2020-07-23 17:10] piyushtank commented on #528
@smartphone-pro Before I could answer, can you let us know if you plan to add video in your app using TwilioVideo SDK or will it be just a voice (audio only) calls?

[2020-07-23 18:31] ceaglest commented on #530
Hey @mouli457,

If you are accepting the web Participant after they are in the Room, then the web Participant should not publish tracks until they accept. The iOS app can just wait for the subscription callbacks as usual.

Best,
Chris

[2020-07-23 18:38] ceaglest commented on #527
Hey @mouli457,

Twilio Video 3.5 is  being referenced in your Podfile. We recommend that you use the latest version but you must raise your deployment target to iOS 11.0 to do so. Checkout the [Podfile](https://github.com/twilio/video-quickstart-ios/blob/master/Podfile) in this repo for an example supporting version 3.5.

[code]

Let me know if you were able to get it working.

Thanks,
Chris

[2020-07-23 22:46] ceaglest commented on #473
Hey,

I hope that my response was helpful even if it was pretty late. Closing this one since I didn't hear back, but feel free to chime in on #237 to continue discussion of creating streaming content.

Best,
Chris

[2020-07-23 22:46] #473 closed

[2020-07-23 22:47] ceaglest commented on #527
I'm assuming you got past this based upon the other issue that you filed. If you're still having trouble please re-open and I can assist further.

[2020-07-23 22:47] #527 closed

[2020-07-23 22:47] ceaglest commented on #474
Closing since I didn't hear back from you. Let me know if you need more help with screencast.

[2020-07-23 22:47] #474 closed

[2020-07-23 22:52] ceaglest commented on #508
Great, I'll close this one out if you've got a solution for the mirroring.

[2020-07-23 22:52] #508 closed

[2020-07-23 22:59] ceaglest commented on #237
Hey @mark-veenstra,

Definitely, that is the subject of this issue. Unfortunately your custom player still has to use AVPlayerLayer in iOS 14.

Hi @tmm1,

I made some progress in terms of re-encoding live video content from a TVIVideoRenderer to H.264 using a very short GOP. This is a good start, but I haven't had a chance to implement the resource loader yet. Without the resource loader the live

[2020-07-23 23:06] tmm1 commented on #237
Cool. Good luck with ResourceLoader. I tried to do the same thing with HLS TS segments, but it turns out you cannot use the resource loader to serve these (because AVFoundation must be able to download them directly in order to measure bandwidth consumption for bitrate switching).

I'm not sure if that same caveat applies to fMP4, but I hope not!

See https://developer.apple.com/forums/thread/1130

[2020-07-23 23:30] ceaglest commented on #237
Thanks for the heads up! I posted a comment on that thread just in case the Apple engineer is still monitoring it. Could be tricky I guess, I would rather not host an https webserver in order to get this working.

[2020-07-24 01:48] smartphone-pro commented on #528
@piyushtank Thank you for your reply.
I am building an integrated voice and video call app.

one-to-one voice call
voice conference
one-to-one video call
video conference

I'd like to implement all of the above.
I've already implemented all the functions, but I only need to carry out VoIP notifications during the one-on-one video call.

I look forward to your kind cooperation.
Thank you.

[2020-07-24 10:07] mouli457 commented on #530
func didSubscribeToVideoTrack(videoTrack: RemoteVideoTrack, publication: RemoteVideoTrackPublication, participant: RemoteParticipant) {
        // The LocalParticipant is subscribed to the RemoteParticipant's video Track. Frames will begin to arrive now.

        logMessage(messageText: "Subscribed to \(publication.trackName) video track for Participant \(participant.identity)")

        if (self.

[2020-07-24 10:55] sylven commented on #473
Hey Christopher,

Thank you a lot for your answer. Unfortunately it was way too late for me to pick up on some of your recommendations.
Hopefully it might be useful to other developers.

Regards!

[2020-07-24 13:36] paynerc commented on #525
@gurupatel,

Haven't heard back from you in a while. Did the answer above help you?

Ryan

[2020-07-24 13:38] paynerc commented on #526
@mouli457,

I see that you have opened issue #530 so I am assuming that you have gotten things to install and are no longer stuck with this issue. I am going to close this ticket and we can continue to work through #53

Ryan

[2020-07-24 13:38] #526 closed

[2020-07-24 13:40] paynerc commented on #517
@dmichelutti,

It's been a couple weeks since I've heard from you? Are you still facing this issue? I am going to close this issue but feel free to reopen it if you have more information tp provide.

Ryan

[2020-07-24 13:40] #517 closed

[2020-07-24 16:57] madhu-kadyala commented on #324
Hi,
I'm developing iOS video call app. In my case, I'm using Twilio -> 3.5 SDK. During a video call, If I rotate the device to landscape left my video is showing in landscape right direction. My video was 180 degrees wrong direction. I'm following the steps that was giving in video quick start in twilio. My app is not supported for landscape orientation.

[2020-07-24 17:30] ceaglest commented on #324
Hey @madhu-kadyala,

Have you compared your app code to the QuickStart example? It supports rotating to portrait, landscape left, and landscape right on an iPhone. See also [Video Source APIs - Tracking Orientation Changes](https://www.twilio.com/docs/video/ios-v3-video-source-apis#tracking-orientation-changes) for more information.

Best,
Chris

[2020-07-24 17:42] madhu-kadyala commented on #324
Hi @ceaglest
I have followed the twilio video quick start code. But I'm facing this local video rotating issue in the landscape.

let options = CameraSourceOptions { (builder) in
                // To support building with Xcode 10.x.
                #if XCODE_1100
                if #available(iOS 13.0, *) {
                    // Track UIWindowScene events for the key window's scene.

[2020-07-24 17:49] ceaglest commented on #324
Hi @DanBlackwell,

That's okay, but now its me taking a long time to respond.

It might seem unexpected, but the key information is that the natural orientation of the camera is `.landscapeLeft` and `.up` in our APIs indicates 0 degrees of rotation. I think we could do a better job of documenting working with the camera on iOS, some visuals to back up what I just said would be great.

Yes, TVIVide

[2020-07-24 17:51] ceaglest commented on #324
Hey @madhu-kadyala,

Can you open another issue for the landscape problem? This issue was specifically about a manual orientation tracker API which shouldn't be needed in your case.

Since it has been a long time and we did ship these APIs in 2.6.0, I am going to close this issue out. Dan, feel free to re-open if you have more questions and are still working on a project using these APIs.

Cheers,

[2020-07-24 17:51] #324 closed

[2020-07-24 17:53] madhu-kadyala opened #532 "Local camera preview orientation issue"
Hi,
I'm developing iOS video call app. In my case, I'm using Twilio -> 3.5 SDK. During a video call, If I rotate the device to landscape left my video is showing in landscape right direction. My video was 180 degrees wrong direction. I'm following the steps that was giving in video quick start in twilio. My app is not supported for landscape orientation.

Swift version: 4

Device details :

iPhone

[2020-07-24 17:59] ceaglest commented on #531
Hi @mialex,

The exception is because should not configure AVAudioSession directly when using the Video SDK. `TVIDefaultAudioDevice` has an API where you can specify a block to configure the session. We will call your block as many times as needed while you are in a Room. If you need to start/stop audio you can use the [TVIDefaultAudioDevice.isEnabled](https://twilio.github.io/twilio-video-ios/doc

[2020-07-24 18:03] madhu-kadyala opened #533 "Audio & mic is not working when incoming call answered from lock screen through call kit"
Hi,
I'm using Twilio video call in my app. I'm facing issues with call kit when the device was lock state. the receiver can hear the caller's voice and the caller can hear receiver voice during the receiver screen was locked and receiver speaking with default call kit UI. But when the receiver tries to tap on the video button/app btn in call Kit app opening and receiver audio was not working. Both

[2020-07-24 18:05] ceaglest commented on #532
Hey @madhu-kadyala,

You should try to compare your app code to the Quickstart example. On my test devices the Quickstart example is working in all orientations, does it work for you on your iPhone 6S Plus and iPhone 7 plus?

Best,
Chris

[2020-07-24 18:11] madhu-kadyala commented on #532
Hi @ceaglest
Thanks for your support!
I have already compared my code with Quickstart example. Only difference I have found is quickstart was supporting device orientation but my app only support Portrait orientation.

[2020-07-24 18:17] madhu-kadyala commented on #533
I have a live app store release on monday(Jul 27) I have to fix this issue before that. Please anyone help to fix this issue.

[2020-07-24 18:38] ceaglest commented on #532
First of all, apps that use the camera should strive to be immersive experiences that support any orientation even if its just for the duration of the call. You can support landscape just for a single view controller hierarchy if you want... I think the root of your problem is your are expecting users to hold their device in landscape but your app doesn't support landscape.

I did the following to

[2020-07-24 18:49] ceaglest commented on #530
Hey @mouli457,

Yes, that's why I suggested changing your JavaScript application which controls the RemoteParticipant. Have you had a chance to try the code snippet where the JavaScript Participant publishes after connecting to the Room  (https://github.com/twilio/video-quickstart-ios/issues/530#issuecomment-663164642)?

Best,
Chris

[2020-07-24 19:00] ceaglest commented on #533
Hi @madhu-kadyala,

Have you tried comparing to our CallKit example? It demonstrates how and when to hook in CallKit + TwilioVideo in order to manage audio effectively.

You shouldn't call into AVAudioSession directly, Twilio Video manages your AVAudioSession for you when you use TVIDefaultAudioDevice. See our guide to [working with audio](https://www.twilio.com/docs/video/ios-v3-configuring-audio

[2020-07-24 22:04] tmm1 commented on #237
Welp I guess that's bad news from Apple:

[2020-07-24 22:12] ceaglest commented on #237
Oh well, at least they were nice enough to respond. I sometimes write HTTP servers for testing, I guess it wouldn't be that hard using Network.framework in order to host a server and have it return the content from memory. But still, its adding more complexity to an already complex solution. Not giving up entirely on the idea, but its a bit of a setback.

[2020-07-24 22:27] tmm1 commented on #237
I've used https://github.com/swisspol/GCDWebServer before to serve up TS segments. Definitely not ideal, but it gets the job done.

[2020-07-25 06:29] madhu-kadyala commented on #532
Hi @ceaglest
I have cross-checked again with QuickStart project. Initially, it's rotating in the wrong direction only, once I flip the camera to back camera again flip to front camera It's working fine.

[2020-07-27 09:49] Chandu457 opened #534 "How to know remote participant access mobile participant video?"
How could I know when remote participant access my screen?Thanks in advance.

[2020-07-27 14:05] madhu-kadyala commented on #532
Hi @ceaglest ,
Thank you so much for your support!!! Finally, I figure out why it happened. In my code Unfortunately I have called two-time startCapture method. So that this issue happens.

[2020-07-27 14:05] #532 closed

[2020-07-27 14:10] madhu-kadyala commented on #533
Heartly Thank you so much @ceaglest ,
I have removed configureAudioSession function & disabled audioDevice until get callback from didActivate audioSession. Now It's working fine.

[2020-07-27 14:10] #533 closed

[2020-07-27 19:50] astaranowicz opened #535 "[Question] Multiple Video Tracks for a Remote Participant"
Hi,

Is it possible to have multiple video tracks from a single participant.
As an example:
1) To stream the front camera and the back camera at the same time.
2) To stream the front/back cameras with different FPS and Dimensions.

[2020-07-27 21:19] ceaglest commented on #535
Hi @astaranowicz,

I don't see any problem with publishing multiple video tracks, except that TVICameraSource doesn't support capturing from multiple AVCaptureDevices. If you want to write your own TVIVideoSource that operates AVCaptureSession with dual devices you could probably achieve what you are looking for.

Best,
Chris

[2020-07-28 23:11] ceaglest commented on #535
Hey @astaranowicz,

I came across some good sample code to capture from multiple devices. Have you seen the [AVMulticamPip](https://developer.apple.com/documentation/avfoundation/cameras_and_media_capture/avmulticampip_capturing_from_multiple_cameras) example?

Best,
Chris

[2020-07-29 09:07] andschdk commented on #500
@kajaldabrai
You'll add the `FrameCaptureRenderer` as a renderer on the `TVIVideoTrack` using `
addRenderer(...)`
https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIVideoTrack.html#//api/name/addRenderer:

[2020-07-29 09:48] andschdk commented on #512
Thank you for this! 👍

[2020-07-29 14:50] smartphone-pro commented on #528
@piyushtank Hello.
Would you please answer the question?

[2020-07-29 16:37] musheer-ahamed opened #536 "Audio/ Mic is not working when go to background & come back again"
Hi,
I have implemented chatting app with calling feature. I am facing audio/mic issue in live app.
I have audio/mic issue when go to background and come back to app during call. Some time audio is not working. Some time mic is not working. please anyone help me to solve this issue.

[2020-07-29 18:24] ceaglest commented on #536
Hey @musheer-ahamed,

At first glance, does your app have permissions to use audio in the background?

See [Getting Started - Backround Modes](https://www.twilio.com/docs/video/ios-getting-started#background-modes) for the entitlements that you need.

Best,
Chris

[2020-07-29 19:23] musheer-ahamed commented on #536
@ceaglest Thanks!
I have enabled voice over IP, picture In picture, background fetch, remote notification.
While app was in background audio & mic both are working fine. but when entering to foreground from background this issue was happens.

[2020-07-29 21:09] jamesal4 opened #537 "Screen sharing example project not working"
### Description

The example project for screen sharing is not working properly. The video does not appear as a track in the room.

### Steps to Reproduce

1. Create a test room
2. Get an access token for that room
3. Paste into line 33 of `video-quickstart-ios/ReplayKitExample/ReplayKitExample/ViewController.swift`
4. Run the app
5. Click Start Conference
6. Click Record Screen
5. Check the room

[2020-07-29 21:12] astaranowicz commented on #535
Great.  I went down the route to have 2 CameraSources (each with a sink) with 2 Video Tracks.  What I was confused about was that the remote participant could only have 1 video, 1 audio, and 1 data track.  So I didn't think that the remote participant can subscribe to multiple video tracks.  What I realized is that the local participant can create as many tracks as they want, and the remote partic

[2020-07-29 21:12] #535 closed

[2020-07-30 18:09] musheer-ahamed commented on #536
@ceaglest
When comes foreground from background, I have tried to unpublish localAudio track and after 1 sec I have again created new audio track and published. Then also the same issue happening. Please help me. This is live production issue. I have to fix soon.

[2020-07-30 18:12] ceaglest commented on #536
Hi @musheer-ahamed,

If you could provide client side logs and a Room SID I would be happy to look into this further. For now I suggest comparing to the Quickstart example app to see what the differences are. I am able to background the example app and come back with audio functional.

I don't recommend publishing and unpublishing in the background. If no one is publishing audio in a Room then you

[2020-07-30 20:38] musheer-ahamed commented on #536
@ceaglest Thanks!
I have tried with removed all my foreground/background functions. Still, the mic is not working when come to foreground from background.
Sorry @ceaglest I can't get logs from testflight. I'm working on a remote system so I'm unable to connect the device to the system and get logs. I have attached room sid. Please give me some suggestions. I'm in trouble now. This is production is

[2020-07-31 11:42] musheer-ahamed commented on #536
@ceaglest
I am playing a ring tone before answering the call. also I'm playing the ringing sound to the caller side up to receiver joins the call. This will affect the mic in twilio?

//after call connected -> caller will here ringing sound untill receiver joins the call
func playSound() {
        guard let url = Bundle.main.url(forResource: "ringring", withExtension: "mp3") else { return }

[2020-07-31 15:06] musheer-ahamed commented on #536
@ceaglest
I have tested with VideoQuick start project. mic & audio was working fine. I have created one new view controller in my project and just copy-pasted VideoQuick code. Then also the same issue. The mic is not working when going to background & come foreground.
I have enabled background audio. Anything I missed in the setup?

import UIKit
import TwilioVideo

class TwilioViewController: UIVi

[2020-07-31 15:40] musheer-ahamed commented on #536
@ceaglest
I have attached log during going background and come foreground.

[2020-07-31 19:41] musheer-ahamed commented on #536
@ceaglest thanks for your support. Finally fixed this issue. While coming foreground audio session was changing in some other viewcontroller.

[2020-07-31 19:41] #536 closed

[2020-07-31 19:44] ceaglest commented on #536
Hi @musheer-ahamed,

Sorry I couldn't do more to debug the issue. In `RM697de0e1fde5d17652e18ca475d21be9` I saw the audio get published multiple times with the same name resulting in `53304` errors. It sounds like you're no longer re-publishing audio and you figured out the AVAudioSession issue in your other view controller. This is what we expect in a typical integration. 👍

Best,
Chris

[2020-07-31 20:30] #445 closed

[2020-08-03 14:40] anand-y commented on #482
@rahveekotadiya @paynerc
please tell how did you resolve this issue

[2020-08-03 23:33] gsbernstein commented on #457
@chathurka that did it!

[2020-08-06 19:18] dmallory commented on #237
Has there been any further progress on this or some starting point code for the pieces working so far? We were hoping to enable this around iOS 14 launch to support PiP for our communication app as well.

[2020-08-07 04:46] ceaglest commented on #237
Hi @dmallory,

Thank you for the interest in this feature. At the moment resolving breaking issues (like Local Network Permissions) in iOS 14 is our top priority before we get to new things.

We are still in the putting the pieces together phase here. Since I last wrote, I've also tried using a live LL-HLS segmenter running on my local network which takes the camera on my mac and rebroadcasts it t

[2020-08-07 20:19] astaranowicz opened #539 "Remote Video Track Recording"
Help Request
Related Issues: #123 and #286
Scenario:
Local user starts up a room with a VP8 Simulcast Video Track with a remote user joining the room with the same connection settings.  Local user wants to record the incoming video track. The remote user will start up a 2nd video track in which the local user will record into an MP4. The 2nd video track will not be viewed, it will all happen in th

[2020-08-10 12:16] mialex commented on #531
Seems like isEnabled property has helped me. What I did.

Under my ViewController I've created a new property `var audioDevice: DefaultAudioDevice = DefaultAudioDevice()`, then at the beginning of `viewDidLoad()` method I added the next code `TwilioVideoSDK.audioDevice = self.audioDevice`. Once the participant is disconnected, I'm disabling audion in `participantDidDisconnect(...)`:

[code]

Once

[2020-08-10 17:52] dmallory commented on #237
Thanks for the update. For fun I also tried doing this at the last mile using ReplayKit - scrape the video from the current layer, encode and rebroadcast with a local server to a supported layer - and it's as bad as you would expect, though a fun demo. Keeping accurate realtime audio and video will always be most important, but I'm excited to look at anything that gets the latency down enough wher

[2020-08-10 18:16] ceaglest commented on #237
Interesting, thank you for sharing your prototyping experience 👍.

[2020-08-11 21:44] piyushtank commented on #534
@Chandu457 By default, all participant are auto subscribed to the published tracks. The Video SDK doesn't have an API to get the list of all participant subscribed to a specific track, with our current APIs you can make an assumption that all participants are subscribed to the published tracks. Let me know if you have any questions.

[2020-08-11 21:51] piyushtank commented on #537
@jamesal4 ReplayKit sample app is functional and up to date.

I looked into the room sid `RMcc8927af2fd2fba302ac996416ad1119` , you had only one participant connected to room `beef4`. There was no other participant in the Room. Also I noticed you were connected to the Room only for 2 seconds and then you had the call disconnected.  If you join `beef4` from other phone, you should see the screen sh

[2020-08-12 02:20] ceaglest commented on #539
Hi @astaranowicz,

We haven't rushed to support this use case because recording on the subscriber side results in the lowest quality video (compared to the media server or publisher perspective). If you want to manage the I420 format conversion then you can record remote video (please be sure to get user consent of course).

If you are using Vp8 simulcast then you must be in a Group Room and I wou

[2020-08-13 15:23] jamesal4 commented on #537
I intentionally only had one participant connected because I was trying to debug the issue through twilio's website logs. I expected the video/audio recording to appear, but instead, I only saw the audio recording, and it lasted for the same amount of time I was connected through the app, 58 seconds.

In a different room, I also tried having someone else connect, and they were able to connect but

[2020-08-13 16:15] astaranowicz commented on #539
Great, Thank you for the awesome feedback and insight into Twilio SDK.

Do you have an example to share for the Recordings API?
I have been looking for non-merged pull requests and other items through the issues and github. I haven't seen this use-case in any of the examples.

Best,
Aaron

[2020-08-17 16:59] piyusharma13 opened #540 ""Command PhaseScriptExecution failed with a nonzero exit code" conflict only with firebase."
### Description

My app is live and users are facing issues so when I am trying to integrate Firebase functionality with existing Twilio I am facing an issue related to "Command PhaseScriptExecution failed with a nonzero exit code"
This is happening only with firebase pods, I have tried other pods and everything is working fine.

### Steps to Reproduce -
1. Happening when I am archiving app. App b

[2020-08-18 04:19] piyusharma13 commented on #540
Please find the response of Firebase support team:

<img width="652" alt="Screenshot 2020-08-18 at 9 40 03 AM" src="https://user-images.githubusercontent.com/21367878/90469626-f7cb4980-e136-11ea-92de-71048c3d6eb5.png">

Without adding another RunScript (just Twilio's one remaining), I am able to create an archive.

[2020-08-18 05:49] piyushtank commented on #540
@piyusharma13 If you are using cocoapods, you may not be required to have an additional run script for `remove_arch` scripts. Our [documentation](https://www.twilio.com/docs/video/ios) has room for improvements which we will update in future.

Let me know if you have any questions.

[2020-08-18 06:36] piyusharma13 commented on #540
We are able to create an archive also with run Script by configuring build settings.
Thank you for the help.

[2020-08-18 06:36] #540 closed

[2020-08-20 19:29] mattrosemeier2020 commented on #535
@astaranowicz (cc: @ceaglest ) would you mind showing me how you published multiple video tracks?  I modified the VideoQuickStart iOS project and I have two `CameraSource` objects and am creating an array of  two `LocalVideoTrack` objects:

[code]

I made an additional previewView @IBOutlet type of `VideoView` so now I have two:

[code]

The problem occurs when I try to call `.startCapture()` on t

[2020-08-21 15:30] Shagans982 opened #541 "Network Quality API not firing anymore"
We've been using the network quality API in our app with success. When throttled via the iPad network conditioner, we were able to reliably get it to show and dismiss repeatedly. Now for some reason using the same practices are not able to get it to show at all.

I've double checked the code and nothing has changed. The configuration is set as the following:

[code]

and using the delegate:

[code

[2020-08-23 22:26] inertjade commented on #519
@ceaglest Just checking in. Have you heard back from your team about scheduling the example work?

[2020-08-24 12:43] jeeva-sil commented on #451
@paynerc

I am facing this issue.

`Undefined symbols for architecture arm64:
  "_ExampleCoreAudioDeviceGetCurrentQueue", referenced from:
      KeepFluent.ReplayKitVideoSource.processFrame(sampleBuffer: __C.CMSampleBufferRef) -> () in ReplayKitVideoSource.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)`

[2020-08-25 19:03] hdinhof1 commented on #230
Make sure your `deinit { }` is called. Had the same issue and had to use the memory debugger to figure it out. For me it happened with first-time use, during camera and microphone permissions, I created an extra reference to the VideoChatViewController. The extra reference was caused from a hidden call from `func applicationDidBecomeActive()`.
TIL that system permissions prompts also call didBecom

[2020-08-26 14:46] Nishant9SPL commented on #451
Hello,

I am facing the below error while integrating the TwilioReplyKit Extension:
ReplayKit broadcast extension : Getting Undefined symbols for architecture x86_64: "_ExampleCoreAudioDeviceGetCurrentQueue", referenced from: ScreenShare.ReplayKitVideoSource.processFrame(sampleBuffer: __C.CMSampleBufferRef) -> () in ReplayKitVideoSource.o ld: symbol(s) not found for architecture x86_64 clang: erro

[2020-08-26 15:04] paynerc commented on #451
@Nishant9SPL,

`ReplayKitVideoSource.swift` currently has a dependency on the `ExampleReplayKitAudioCapturer` Objective-C files that are in the [`BroadcastExtension`](https://github.com/twilio/video-quickstart-ios/tree/master/ReplayKitExample/BroadcastExtension) folder of the ReplayKit example. This is referenced [here](https://github.com/twilio/video-quickstart-ios/blob/b74e1c1c4f49ae23f326bd3e53

[2020-08-26 15:17] Nishant9SPL commented on #451
@paynerc

Yes, I have already added "ExampleReplayKitAudioCapturer.h" and "ExampleReplayKitAudioCapturer.m".
Also,  added Bridging Header file into extension as well.

Then also it is giving the same error.

-- Nishant

[2020-08-30 20:09] AhmadDurrani579 opened #542 "Video Preview issue"
Hello Mate Can you please let me know I am trying video call every thing is going perfect but the main problem is this that the preview of the other user not getting on my side thanks in advance

[2020-08-31 23:26] piyushtank commented on #542
@AhmadDurrani579 Thanks for reaching out.

Have you tried using our VideoQuickStart [sample app](https://github.com/twilio/video-quickstart-ios/tree/master/VideoQuickStart) and see if you can reproduce the problem?

[2020-09-02 22:21] ksuhr1 opened #543 "Recording Local and Remote Video Frames [advice]"
### Description

I am trying to figure out the best way to record local and remote video frames for a production environment. Is this videoquickstart example based on a peer-to-peer room or small group room? I see in this link https://support.twilio.com/hc/en-us/articles/360035005493-Record-a-Video-Room-with-Twilio-Programmable-Video that you can not record in P2P room. I'd like to record audio, v

[2020-09-03 00:58] ksuhr1 opened #544 "Setting up Server to generate Access Tokens [help wanted]"
### Description

Hi there, I want to set up a server for my iOS app that uses programmable video, based on the videoquickstart app. The examples I see to create an access token server is in different languages other than Swift. I'm not sure how to integrate say if I'm using a Node js example https://github.com/TwilioDevEd/video-access-token-server-node with my iOS project. I'd like to prepare my p

[2020-09-04 09:16] AhmadDurrani579 commented on #542
Hello Sir ,

Thank you for your email
In videoquickstart sample they use only 1 tvivideoview and i am using 2 one
for opponent user and one for my self just like whats app so than its.
Creating the problem

Thanks
Ahmad

On Tue, 1 Sep 2020 at 3:27 AM Piyush Tank <notifications@github.com> wrote:

[2020-09-07 00:16] ksuhr1 opened #547 "Background Task 1 Warning"
### Description

Hi there. I have a view controller set up similar to the Design Consultant project https://www.twilio.com/blog/2017/10/ios-arkit-swift-twilio-programmable-video.html where I click one of two buttons(Designer or Consultant) on that will send me to the appropriate view controller that has a Preview setup where I would connect to a room such as in the videoQuickStart example. Once I

[2020-09-08 01:34] ceaglest commented on #547
Hi @ksuhr1,

You would need to provide more information for us to help about the dramatic slowdown. However, the background task issue you mentioned can be fixed by upgrading to [3.6.0](https://www.twilio.com/docs/video/changelog-twilio-video-ios-version-3x#360-july-31-2020) or newer.

Best,
Chris

[2020-09-11 17:40] ksuhr1 commented on #547
Thank you @ceaglest! The update helped. The dramatic slowdown I have figured out!

[2020-09-14 22:57] ksuhr1 opened #548 "FlipCamera Lag"
### Description

Hi there! I have one issue: cameraLag with calling flipCamera.  I have two view controllers for two different users: Designer and Client. On Designer side I just want to flip the camera like normally. I have a button on my UI where I call flipCamera. I notice that when I switch the camera for both view controllers, the frame flips right before the camera capture actually switches

[2020-09-14 23:00] #547 closed

[2020-09-15 16:24] designzoo-adrian commented on #544
You will need to deploy a server running the code to generate your access token that you can then use inside your IOS App to connect to a room. Your could deploy this code for production on heroku, aws etc. with a public url. e.g. https://mytwiliovideoapp.com
You would need to deploy a node app similar to the example, with all your config params e.g. api keys to be your own Twilio account details.

[2020-09-17 00:15] ksuhr1 opened #551 "VideoQuickStart not working with XCode version 12 update"
### Description

Hi there, my XCode auto-updated to version 12 and now my app isn't running as it was previously working right before the udpate. I now get a black screen when I run the app and the following warnings. Could you please help me resolve these issues?

#### Logs
2020-09-16 17:06:55.750584-0700 VideoQuickStart[23092:6273980] [SceneConfiguration] Info.plist configuration "Default Config

[2020-09-17 02:15] ksuhr1 commented on #551
I have solved the issue with updating the AppDelegate and SceneDelegate.

[2020-09-17 02:15] #551 closed

[2020-09-25 19:11] VishalSharma91 commented on #195
Hi @piyushtank I am calling API when a receiver declines the call in its  CXEndCallAction, when app is in background, phone locked or app is killed. This way the sender would get a push notification for same. But the api doesn't get called may be due to some limitation of Callkit? Can you please guide here ?

[2020-09-25 20:45] piyushtank commented on #195
@VishalSharma91 When a VoIP push notification is received if an app is killed or device is locked, iOS will still deliver the push notification to your app and invoke `pushRegistry:didReceiveIncomingPushWithPayload:withCompletionHandler:`. Based on user's action accept or reject, app CallKit would give a Callback to app.

[2020-09-28 02:21] inertjade commented on #519
@ceaglest Just checking in, if any progress has been made on this topic.

[2020-09-30 04:16] hand228 commented on #197
@ceaglest
Hi there,
I have the same issue with the owner of this thread. In my case, call was disconnected after 1 min 40s. Could you help me with this?
My Call Sid is `RMe8a27fb5a0fc9ca3fbce3e5a82f876ff`

[2020-09-30 06:31] hand228 opened #553 "Video call disconnected automatically"
Description
I am using the Twillio CallKit for video calling in my app. It is working fine for every case but sometimes call disconnected automatically, while internet is working fine.

Steps to Reproduce
1. User A calls User B
2. User B picks the call
3. After 1 min 40s, the call was disconnected automatically

Expected Behavior
Call should not disconnect automatically.

Actual Behavior
Call disc

[2020-10-01 13:20] mosalhumaidi2020 opened #554 "Issue while recording my lecture on Microsoft teams"
iOS 14.01 IPad Pro, I got a message while I’m recording my lecture on Microsoft teams says “screen recording has stopped due to recording interrupted by multitasking and content resizing”  I just updated my Microsoft teams app2.0.22 . Any suggestions.

Thank you

[2020-10-06 11:17] madhu-kadyala opened #557 "How to find remote user has using landscape or portrait mode during video call"
Hi team,
I am using twilio SDK in my app for app to app video call. When remote user using landscape mode, for others using portrait then I have to make sure that remote view should rotate to portrait mode. Is there any call back when remote user changes their dimension ?

[2020-10-06 12:12] madhu-kadyala opened #558 "iPhone is getting more heat & consuming more battery energy during video call"
Hi,
In my app, most of the iOS users are giving feedback as mobile is getting more heat & consuming more battery during video call. I have tried with

builder.preferredVideoCodecs = [H264Codec()]
builder.encodingParameters = EncodingParameters(audioBitrate: 0, videoBitrate: 1 * 1024 * 1024)

but still receiving same feedback from users. Can you help me solve this issue.

SDK : 'TwilioVideo', '~> 3

[2020-10-09 14:47] paynerc commented on #557
@madhu-kadyala,

There is a delegate protocol, [`TVIVideoViewDelegate`](https://twilio.github.io/twilio-video-ios/docs/latest/Protocols/TVIVideoViewDelegate.html) that can be provided to [`TVIVideoView`](https://twilio.github.io/twilio-video-ios/docs/latest/Classes/TVIVideoView.html). This delegate will receive callbacks when the dimensions of the track it's rendering changes as well as orientatio

[2020-10-09 15:02] paynerc commented on #543
@ksuhr1,

The VideoQuickStart examples are agnostic of the room type. Being simple examples, the rooms are created Ad-hoc by the first participant that connects to a room. Take a look at the [Ad-hoc Rooms](https://www.twilio.com/docs/video/tutorials/understanding-video-rooms#ad-hoc-rooms) section of the [Understanding Video Rooms](https://www.twilio.com/docs/video/tutorials/understanding-video-roo

[2020-10-09 15:27] paynerc commented on #553
@hand228,

I have been looking into the details for the Room Sid provided and I see the following things:

1. The iPhone participant connects to the room at 2020-09-29T08:11:12.607Z.
2. The Android participant connects to the room at 2020-09-29T08:11:14.402Z
3. The iPhone participant sends a disconnect request to the room at 2020-09-29T08:13:10.813Z and is disconnected.
4. The Android participant

[2020-10-09 18:42] piyushtank commented on #548
@ksuhr1 Thanks for reaching out - what you are observing might be an underlying synchronization bug between renderer and capturer. @ceaglest is out-of-office right now, once he is back, we will get back to you on this.

[2020-10-09 18:43] piyushtank commented on #554
@mosalhumaidi2020 Can you elaborate more on the used case.

Can you please fill up the issue template, to give us the complete idea of what and how you are trying to achieve.

[2020-10-09 18:45] piyushtank commented on #558
@madhu-kadyala can you please fill the issue template with iPhone versions, use case, device, iOS, etc. Also please mention list all iOS devices where you are observing the issue. And please make sure if you are observing the problem with our Quickstart or not. Thanks.

[2020-10-09 18:48] piyushtank commented on #542
@AhmadDurrani579  Can you sure that you have the VideoView attached to the VideoTrack. We have [iOS Video app](https://github.com/twilio/twilio-video-app-ios) which demonstrate multi-party use case. Please take a look and let us know if you have any qustions.

[2020-10-09 18:50] piyushtank commented on #537
@jamesal4 Apologies for the late response here. Were you able to resolve the problem. If not, please provide the room sid with both the participants in the Room. Thanks!

[2020-10-09 18:51] #534 closed

[2020-10-09 18:52] AhmadDurrani579 commented on #542
Hello Twilio/Video-Quickstart-Ios
Their is a permission for ios 14 so when i add its working i am closing
this issue thanks for your reply

On Fri, 9 Oct 2020 at 10:48 PM Piyush Tank <notifications@github.com> wrote:

[2020-10-09 18:53] piyushtank commented on #528
@smartphone-pro You will have to build your own signaling using[ Twilio Notify ](https://www.google.com/search?q=twilio+notify&rlz=1C5CHFA_enUS898US898&oq=twilio+notify&aqs=chrome..69i57j0j69i60l6.3015j0j4&sourceid=chrome&ie=UTF-8)to receive incoming call push notification. one-to-one and conference on video and voice is supported by Video SDK.

[2020-10-09 18:54] #505 closed

[2020-10-09 18:55] piyushtank commented on #129
Closing the ticket assuming the problem due to no activity on the ticket. Feel free to reopen or open an another ticket if you have questions.

[2020-10-09 18:55] #129 closed

[2020-10-09 18:56] piyushtank commented on #392
Closing the ticket assuming the problem due to no activity on the ticket. Feel free to reopen or open an another ticket if you have questions.

[2020-10-09 18:56] #392 closed

[2020-10-09 18:56] piyushtank commented on #516
Closing the ticket assuming the problem due to no activity on the ticket. Feel free to reopen or open an another ticket if you have questions.

[2020-10-09 18:56] #516 closed

[2020-10-09 19:24] AhmadDurrani579 commented on #542
In iOS 14 their is a permission for video call you have to put  this permission in info plist under  background mode = App provides Voice over IP services
In my case the app working fine in iOS 13 but in iOS 14 its not working so when i put this permission its start working

[2020-10-09 19:24] #542 closed

[2020-10-13 13:21] madhu-kadyala commented on #557
@paynerc How can I achieve orientation like how google duo, skype handling. For example, I'm using portrait mode, if the receiver using landscape mode then the remote participant video will automatically rotate in my device. But in twilio remote participant video is not changing in this scenario. I have attached sample screenshot
![1601487285159](https://user-images.githubusercontent.com/53012233/

[2020-10-14 04:24] shivarajnaidu commented on #368
Need similar feature.. how to acheive this using twillio group call.. to broadcast group call feed to 1000s of viewers .. is there any quick solution or workaround available ?

[2020-10-14 10:27] VishalSharma91 commented on #493
@piyushtank I have tried the above solution using AVAudioEngineAudioDevice just when my call screen shows up. But it didn't work. Nothing plays. The play works fine on any other screen of the app that means the function is correct.

At this point no participant has joined only I am alone in the room. I would like to play ringtone like whtsapp or other apps does till the receiver picks up.

I am us

[2020-10-16 21:41] amandeep0 opened #559 "Library not found for libPods-TwilioVideo-VideoQuickStart"
I am trying to use the quick start video for iOS example.

When I try to build from within XCode, I get the following missing library:

ld: library not found for -lPods-TwilioVideo-VideoQuickStart
clang: error: linker command failed with exit code 1 (use -v to see invocation)
I was able to successfully run
pod install
however, I got error with
pod repo update twilio
Unable to find the `twilio` rep

[2020-10-16 23:23] #559 closed

[2020-10-16 23:24] amandeep0 commented on #559
figured out. I was trying to run the individual project. You have to run through the main root directory

[2020-10-18 11:00] vpryimachenko opened #560 "Unable to see video stream on the Web from my custom iOS app."
Unable to see video stream on the Web from my iOS app.

### Description

In my project I need to stream live videos (conferencing) with some custom camera controls. I had setup a custom AV stack in order to have the full control over my camera (change resolution, fps, etc.). As a streaming solution I've picked Twilio. According to the documentation and some examples, if I use a custom AV stack, th

[2020-10-20 18:40] MarkoKostiv opened #561 "Transparency support"
We are looking for a way to send transparent frames with a segmented background.

Questions:
1. Does any of the supported codecs handle transparent images? Currently, we are using H.264, and it does not, apparently.
2. Is there any way to send additional metadata with a frame? E.g., binary bitmap or coordinates of the contour of the person

[2020-10-21 06:14] Balasnest opened #562 "Camera indicator (green dot) after disconnect : PRIVACY issue"
Facing a problem with iOS 14 when the green dot appears even after the video ended or in disable mode? (It works for the microphone after disconnecting the call. But when I try to mute, it still persists. )

[code]

The green dot still remains in the status bar indicating the camera usage from app. **USER** might take it seriously from a **PRIVACY /SECURITY** point of view.

[2020-10-21 10:11] musheer-ahamed commented on #557
@ryan-rowland @paynerc Any updates? I'm also facing the same issue. I'm looking forward to a solution.

[2020-10-21 14:24] Balasnest commented on #562
https://github.com/blackuy/react-native-twilio-video-webrtc/issues/396

[2020-10-21 14:34] Balasnest commented on #562
@ceaglest @paynerc  Need your assist here as earlier as possible. Thanks!

[2020-10-21 14:46] paynerc commented on #562
@Balasnest,

The green dot is active anytime the camera is still capturing video, regardless if the room is connected or not. Be sure to call the `stopCapture` method of the `TVICameraSource` as well when you are no longer capturing video.

Ryan

[2020-10-21 15:06] paynerc commented on #560
@vpryimachenko,

To make sure I am understanding the issue:

You have created an iOS app that uses `CameraController`, which is a class that implements the `VideoSource` protocol. When you run this application and connect to a room, another iOS device connects to the room running the iOS Quickstart application and you are able to render the video.

However, if you join the same room using the Java

[2020-10-21 15:07] paynerc commented on #553
@hand228,

Following up to see if you have had luck collecting debug logs and if this is still reproducible.

Ryan

[2020-10-21 16:55] Balasnest commented on #562
@paynerc Thanks mate! It worked perfectly.

[2020-10-21 16:55] #562 closed

[2020-10-21 17:31] ceaglest commented on #561
Hi @MarkoKostiv,

In answer to your questions.

1. Our SDK doesn't currently support video with an alpha channel / transparency.
2. You can send metadata using a DataTrack, but it isn't currently possible to attach the metadata on a per-frame, synchronized basis.

These are areas where our SDK could be improved. Unfortunately, I don't have a timeline on if/when we could offer transparency support.

[2020-10-22 01:13] hand228 commented on #553
@paynerc
Sorry for late reply.

We solved this problem, it's our mistake. We used a timer to check timeout when calling out but we forgot to invalidate it after connected.

Thanks for your support.

[2020-10-22 01:13] hand228 commented on #553
I will close this issue

[2020-10-22 01:13] #553 closed

[2020-10-22 09:12] finayev commented on #537
The issues still exists. Screen sharing feature from sample project is not working. Here's the SID of the room with 2 participants.
RM929d3751d5865c847f581b14e766d483

[2020-10-26 16:35] PavloShchur opened #564 "Black video screen when processing RemoteVideoTrack."
After publishing video track

`await currentRoom.localParticipant.publishTrack(track, {priority : 'low'});`

I receive 'trackPublished'

`     participant.on('trackPublished', publication => {
                trackPublished(publication, participant);
            })       ;`

[code]

The 'processTrack' function just attaches the track and adds it to the DOM.

Before attaching it.

![image](https://

[2020-10-26 16:45] #564 closed

[2020-10-26 16:45] PavloShchur commented on #564
The issue is recreated.

https://github.com/twilio/video-quickstart-js/issues/158

[2020-10-29 08:13] xiaozhouzhou opened #565 "ReplayKitExample can't be built successfully-duplicate definition of category callKit"
### Description

ReplayKitExample can't be built successfully .Could you help me ?

![スクリーンショット 2020-10-29 16 07 39](https://user-images.githubusercontent.com/8065085/97542200-4f244a80-1a01-11eb-9e64-f9d91aa589b5.png)

#### Video iOS SDK

3.7.1

#### Xcode

11.6

#### iOS Version

[e.g. 11.2.6]

#### iOS Device

iphone 11 Pro(13.6)

[2020-10-31 20:17] apexkid commented on #497
Does rooms support over 50 users?

[2020-11-01 00:30] inertjade commented on #519
@ceaglest @piyushtank Just checking in. Do you have any updates on this topic?

[2020-11-15 17:33] SethVerishop commented on #537
oddly, I had this issue with the videoqucikstart project, but the screen recording works fine for me

[2020-11-15 23:59] thefaj opened #567 "Too many third party dependencies"
Could you please clean up this project and make it just use first party UIKit calls?
Cocoapods is pretty messy, and it seems like you could use Swift Package Manager to include TwilioVideo as its only dependency. All of the third party dependencies really obstruct quick onboarding for the Twilio Video project.

[2020-11-17 01:46] piyushtank commented on #565
@xiaozhouzhou Thanks for reaching out, we are not seeing the same problem while building the ReplayKitExample. Did you try with cocoapods ? Can you try fresh new project by pulling the repo and cocoapods installation ?

[2020-11-17 01:50] piyushtank commented on #537
I have passed RM929d3751d5865c847f581b14e766d483 to the backend team. I will keep you posted.

[2020-11-17 02:00] piyushtank commented on #519
@inertjade We do not have audio mixing in ReplayKit example planed in coming sprints but to let you know that we are working on ReplayKit features where the VideoSDK will provide the ReplayKit support out of the box - that means less code developers need to write to support screen sharing in an app. I have created a ticket for your audio mixing request in that epic, however its not a priority righ

[2020-11-17 02:04] #528 closed

[2020-11-17 02:07] piyushtank commented on #493
@VishalSharma91 Can you make sure that your app invokes the suggested callbacks in the post above?

[2020-11-19 18:15] #560 closed

[2020-11-20 08:01] reinhardholl commented on #402
I am experiencing a slightly different issue. We have a sequence of videos playing using `expo-video`. The call would join fine but as soon as the video changes mid call all call audio is lost. Our videos are muted but our twilio call still loses all audio.

Any ideas?

[2020-11-20 15:43] mattmcdonald-uk commented on #207
+1 for the option to control whether audio capture is used with DefaultAudioDevice.

[2020-11-24 04:01] pkumawat34 opened #568 "'DefaultAudioDevice' is ambiguous for type lookup in this context"
import UIKit
import TwilioVoice
import TwilioVideo
import AVFoundation
import PushKit
import CallKit

class AudioCallVC: UIViewController {
        var audioDevice: DefaultAudioDevice = DefaultAudioDevice()
}

[2020-11-24 04:23] NALanhnt2 opened #569 "different between LocalVideoTrack and remoteVideoTrack"
i have some task about ML on video call (virtual background). Everything is good on local LocalVideoTrack but when i use remoteVideoTrack, i have some problem (about memory leak)
i want to ask you. what is different between LocalVideoTrack and remoteVideoTrack
*sorry about my english"

[2020-11-24 19:47] piyushtank commented on #402
@reinhardholl -  Can you elaborate when you said "video changes mid call" what exactly do you do?  In general, audio and video should work independently.

[2020-11-25 07:29] kheldiente opened #570 "Audio routes to device speakers instead of bluetooth earphones when using call kit to connect to room"
### Description

No audio output observed in Bluetooth earphones when the user is connected to a room.

### Steps to Reproduce

1. Connect Bluetooth earphones.
2. Display call kit.
3. Instead of answering the call from Bluetooth earphones, **press the accept button on device**.
4. Connect to a room with an existing participant.

#### Expected Behavior

Bluetooth earphones should receive the audio

[2020-11-26 06:21] NALanhnt2 commented on #569
@ceaglest help me please

[2020-11-26 08:35] reinhardholl commented on #402
@piyushtank Sorry for the confusion. We play a series of videos using`expo-video` during our call. Then the `expo-av` video changes, our Twilio call loses audio.. The Twilio video is fine.

[2020-11-27 11:57] andschdk commented on #99
Hi @ceaglest

Is this still in the pipeline?

I guess the `isConnected: Bool` on `RemoteParticipant` is not reflecting any reconnecting state...

[2020-11-27 12:49] umairAsifVeemed opened #571 "iOS 13 push notification not received"
func application(_ application: UIApplication, didRegisterForRemoteNotificationsWithDeviceToken deviceToken: Data) {

if let chatClient = MessagesSingleton.shared.chatClient, chatClient.user != nil {
           chatClient.register(withNotificationToken: deviceToke) { (result) in
                print("pushToken \(result.isSuccessful())")
                if (!result.isSuccessful()) {

[2020-11-28 03:00] paynerc commented on #99
The Remote Participant Reconnecting functionality will be available in the next 4.0.0 Beta release.

Ryan

[2020-11-29 06:43] smartphone-pro commented on #568
@pkumawat34
Hello,
Did you solve the above issue?
I'm suffering from the same error.

[2020-11-29 07:42] piyushtank commented on #571
@umairAsifVeemed This repo is meant for Twilio Video SDK. From the description it sounds like you need help in our chat SDK. Can you please open the issue on https://github.com/twilio/twilio-chat-demo-ios.

Thanks!

[2020-12-03 06:01] sachinTechugo opened #572 "Regarding conference call Crash"
one to one video call is going well but i am facing issue when 3 persons are on call and one user disconnect ,  it will lead to other app crash i am sharing crash log

*** Assertion failure in -[TVIRemoteVideoTrack addRenderer:applyRotation:], /Users/distiller/project/TwilioVideo/TwilioVideo/Sources/Objective-C/Implementation/Media/TVIVideoTrack.mm:95
2020-11-27 11:33:45.056045+0530 NPNGCoachApp[9

[2020-12-03 17:18] ceaglest commented on #572
Hi @sachinTechugo,

Thanks for writing in. This assertion is not very clear to the developer but I can explain -

2020-11-27 11:33:45.056045+0530 NPNGCoachApp[936:43429] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying: adapter.videoRenderer != renderer

This means that you've already added the `TVIVideoRenderer` to the `TV

[2020-12-04 10:40] FlexsinMobile opened #575 "Audio call getting disconnect after few seconds in background or lock screen"
**Description**
I am using Programmable Video SDK for audio video calls.
This feature was working fine 5-6 months back.
If we pick the call from lock screen then it gets disconnect when my device screen gets dim after few seconds.
However if we pick call when the app is foreground then it works well.
If we pick call and then put the app in background then also call is getting disconnect after few

[2020-12-07 06:32] Fanpei920 opened #579 "The screen broadcast ratio can't be adjusted correctly after rotating the device in ReplayKitExample."
### Description

The screen broadcast ratio can't be adjusted correctly after rotating the device

### Steps to Reproduce

1. Launch ReplayKit example
![Screen Shot 2020-12-07 at 15 24 05](https://user-images.githubusercontent.com/28774156/101316919-cec6f400-38a0-11eb-81e0-0a9f578dc878.png)

2. Rotate deivce
the capture ratio didn't be adjusted as showed in capture below.
![Screen Shot 2020-12-07

[2020-12-07 12:04] FlexsinMobile commented on #575
Hello Team,

I am waiting for your response. Kindly suggest so I can fix the issue ASAP.

Looking forward for quick response.

Thanks

[2020-12-10 11:16] andschdk opened #580 "No audio when publishing started from background"
### Description

No audio when publishing audio track while in the background. When entering the foreground still no audio is being transmitted to the remote participants.
It seems to work in the quickstart project, however, it's not behaving the same way in my client application.
If I unpublish + publish the audio track when entering the foreground it works.

Can you provide more info about the m

[2020-12-21 14:46] Ankish commented on #322
I am able to replicate the same issue on iOS 14+

[2020-12-22 23:24] jbejas opened #582 "ARKit Example not working. Room getting a black screen from subscriber (participant)"
### Description

When joining a room using the ARKit example app, the new subscriber added to the room, which is supposed to share the camera capture with AR object in it is black.

### Steps to Reproduce

1. Build ARKit Example and install it on a real device.
2. Run the ARKit App in the device.
3. Join an existing room (hardcoded in this case).
4. The participants already in the room only get a

[2020-12-28 18:05] ceaglest commented on #575
Hi @FlexsinMobile,

Sorry for the delayed response. Right now we don't have enough information to reproduce the issue.

Unlike Voice, the Video SDK doesn't natively support push notifications. Can you please give me more information about how you are accepting a call in the background? Is it similar to our Video CallKit example?

3.7.0 via CocoaPods

There are bug fix releases that you do not have

[2020-12-28 20:58] ceaglest commented on #582
Hi @jbejas,

Thank you for the report. I have a few follow up questions:

1. Could you provide a Room SID where the Participant saw black video from the Publisher?
2. Can you see the ARKit preview locally on the publisher side, or is it also black?

Thanks,
Chris

[2020-12-28 21:00] ceaglest commented on #572
Hi @sachinTechugo,

Just checking, did you manage to resolve the assertion?

Best,
Chris

[2020-12-29 16:11] jbejas commented on #582
@ceaglest Here is the information you required.

Room SID: RM2d23e9234863fa10f5124161e805b51d

I can see the preview locally in the publisher. On the other side, I see a black screen. Attaching Screenshots.

![image](https://user-images.githubusercontent.com/3421876/103297532-804fd580-49c6-11eb-9b69-61da202a7eda.png)
![image](https://user-images.githubusercontent.com/3421876/103297543-847bf300-49c

[2020-12-31 13:39] jbejas commented on #582
@ceaglest just for clarification, the black screen you see in the first image, is the second one in the same room. Best!

[2020-12-31 18:35] ceaglest commented on #582
Hi @jbejas,

In RM2d23e9234863fa10f5124161e805b51d there is only one Participant and they are publishing their media to the Server since it is a Group Room. I don't see a second Participant connecting during the lifetime of the Room.

Can you issue a second token for the other Participant and make sure you are connecting to the same Room named "TMRW POC"?

Best,
Chris

[2021-01-03 01:27] jbejas commented on #582
@ceaglest Sorry... I think I’ve sent you the wrong Room SID. Take a look at this one. RMa4e17a3928094e6dcbd4734081588244. Sorry again, and thanks for your help. Let me know if there is anything else I can do for this matter.

[2021-01-03 17:55] appdoctorinfo commented on #358
Hi @paynerc, how should I do to get incoming call notification? Is there any support from Twilio?

[2021-01-05 17:57] #572 closed

[2021-01-05 18:04] piyushtank commented on #575
Closing the ticket due to no activity. Please feel free to re-open or file a new ticket if you run into any issues.

[2021-01-05 18:04] #575 closed

[2021-01-05 21:00] #571 closed

[2021-01-05 21:04] piyushtank commented on #568
@pkumawat34 The DefaultAudioDevice is defined in both voice and video SDKs. Have you tried using `TwilioVideoSDK.DefaultAudioDevice()`? Another option is to have a utility method in their respective swift file for voice and video to have get the approprite audio device of your choice.

[2021-01-05 21:09] piyushtank commented on #569
@NALanhnt2 LocalVideoTrack and RemoteVideoTrack - both are VideoTracks, hence you can add renderer to either to get the video frames. The only difference is, LocalVideoTrack is used to send your (local participant's) video frames in a Room vs the RemoteVideoTrack represents the remote participant's video frames in a Room.

Let me know if you have any questions.

[2021-01-07 02:37] ceaglest commented on #541
Please let us know if you need any more help with network quality APIs.

Best,
Chris

[2021-01-07 02:37] #541 closed

[2021-01-07 12:44] musheer-ahamed opened #583 "Call disconnecting during call, If user locks the screen"
Hi, I am facing a call disconnecting issue during the call, if the user locks the screen. I'm using a call kit even though it's disconnecting.
Any suggestions for solving this issue?

[2021-01-07 21:19] paynerc commented on #506
@MhmdRizk,

Are you still experiencing this issue?

Ryan

[2021-01-07 21:20] paynerc commented on #525
@gurupatel,

Closing this issue, but feel free to reopen it if you are still experiencing the issue.

Ryan

[2021-01-07 21:20] #525 closed

[2021-01-07 21:21] #531 closed

[2021-01-07 21:23] paynerc commented on #543
@ksuhr1,

Closing this issue, but feel free to reopen if you have any further questions.

Ryan

[2021-01-07 21:23] #543 closed

[2021-01-07 21:24] paynerc commented on #554
Closing this issue as there has not been any activity for a few months.

[2021-01-07 21:24] #554 closed

[2021-01-07 21:26] paynerc commented on #565
@xiaozhouzhou,

Are you still experiencing this issue?

Ryan

[2021-01-07 21:29] paynerc commented on #567
@thefaj,

With the Twilio Video iOS 4.x release, it now is distributed via Swift Package Manager and the quick start applications in this repository consumes it via SPM.

Ryan

[2021-01-07 21:29] #567 closed

[2021-01-07 21:44] thefaj commented on #567
@paynerc awesome!! Thanks for the update, too!

[2021-01-08 18:32] ceaglest commented on #582
Hi @jbejas,

I looked at RMa4e17a3928094e6dcbd4734081588244. There are two unique Participants in this one, but they each connect twice. I see tracks subscribed and media flowing so I am not sure how to explain that you are only seeing a black screen.

What app do your viewers run, is this a modified version of VideoApp? It looks like perhaps you are not handling subscription events, or not adding

[2021-01-11 12:59] BhoomiPatel1 opened #584 "ReplayKit broadcasting not working with ongoing video calling"
**Step which I have followed**
1). create token
2). connect room with particular access token
3). two participant joined that room
4). now I want to share my screen to other participants of room

**Xcode**
11.12.2

**OS Version**
12.4.8

[2021-01-11 16:34] timrozum commented on #584
Hi @BhoomiPatel1,

I would like to confirm you are able to get the screen broadcast working correctly with the quickstart code. Can you use `ReplayKitExample` to start a broadcast and then use `VideoQuickStart` project to view the screen capture? After you launch `VideoQuickStart` enter `Broadcast` for the room name and connect. You should see the video from the screen capture at that point.

Plea

[2021-01-15 21:41] piyushtank commented on #583
Just like the native dialer, it's a CallKit behavior that when a user presses the lock screen it triggers `provider:performEndCallAction`. SDK doesn't disconnect the call by itself.
See [this](https://github.com/twilio/video-quickstart-ios/blob/master/VideoCallKitQuickStart/ViewController%2BCallKit.swift#L72) example code for more information.

[2021-01-15 21:41] #583 closed

[2021-01-15 21:43] piyushtank commented on #565
Closing the ticket assuming the issue has been resolved. Feel free to reach out to us if you run into any issues.

[2021-01-15 21:43] #565 closed

[2021-01-15 21:44] piyushtank commented on #569
Closing the ticket assuming the problem has been resolved. Feel free to reach out to us in case if you run into any issues.

[2021-01-15 21:44] #569 closed

[2021-01-15 21:48] piyushtank commented on #580
@andschdk Can you check your app has the following entitlements set in plist file?

[code]

[2021-01-15 21:52] piyushtank commented on #568
Closing the ticket assuming the problem is resolved. Feel free to reach out to us if you run into any issues.

[2021-01-15 21:52] #568 closed

[2021-01-15 21:56] piyushtank commented on #537
Unfortunately, I don't have any update on this issue. Are you still observing the issue?
Wanted to let you know that we have shipped InApp screen sharing component in our 4.x SDK. And, we are currently working on making broadcast extension APIs part of SDKs. Try it out and let us know.

[2021-01-15 21:58] piyushtank commented on #544
See https://github.com/twilio/video-quickstart-ios#setup-an-access-token-server for more information.

[2021-01-15 21:58] #544 closed

[2021-01-15 22:00] piyushtank commented on #522
Closing the ticket but feel free to reach out to us if you have any questions.

Thanks,
Piyush

[2021-01-15 22:00] #522 closed

[2021-01-18 06:59] BhoomiPatel1 commented on #584
I have used Twilio's ReplayKitExample for screen sharing but its not working , I want to start broadcast while already 2 or 3 participant joined same room

[2021-01-19 13:07] DiegoQuimbo commented on #568
`TwilioVideoSDK.DefaultAudioDevice()` throw the following error: "Type 'TwilioVideoSDK' has no member 'DefaultAudioDevice'"

[2021-01-19 17:18] timrozum commented on #584
Hi @BhoomiPatel1,

Did you get `ReplayKitExample` (screen capture app) working with the `VideoQuickStart` (viewer app) as a basic test to share video to another participant? You should be able to just drop in Twilio access tokens to these projects and then run them without modifying any real code. I think it would be best to get this simple case working first and then determine how it is different

[2021-01-19 17:52] paynerc commented on #506
Closing this issue as we have no received a response for this in a while. Please feel free to reopen and provide the further requested info.

Ryan

[2021-01-19 17:52] #506 closed

[2021-01-19 17:54] paynerc commented on #491
@Balasnest,

Are you still experiencing this issue? If so can you please send the Room SID and any debug logs that you have when this issue occurs?

Thank you,

Ryan

[2021-01-19 17:55] paynerc commented on #378
@GPITwilioMonitor,

Are you still experiencing issues related to this ticket?

Ryan

[2021-01-20 16:29] GPITwilioMonitor commented on #378
Hi Ryan, thanks for checking in.  We are actively using the Group Room feature in our production release and have not heard complaints about the green screen.

Mike

[2021-01-20 16:30] paynerc commented on #378
Thanks wonderful news. Thanks for responding. I will close out this issue.

Ryan

[2021-01-20 16:30] #378 closed

[2021-01-28 13:00] seubseub opened #587 "audio/video chat related resources returned not immediately"
### Description
Hi :)
Twilio is using it well, gratefully.

I don't know if this is a twilio side issue or a Callkit issue, but twilio ends and CXEndCallAction runs fine.
The problem is that the audio/video chat related resources at the top are returned after 1-2 seconds.
It seems to be quite late.

<img width="447" alt="call" src="https://user-images.githubusercontent.com/16539714/106141864-176da

[2021-01-28 13:44] olivier545 commented on #497
@piyushtank
Can you please explain how to have one way media to all participants in the Room (=> only main participant video, other participants can't activate video nor speakers).
Thanks

[2021-01-28 14:08] aksthelion commented on #497
Just wanted to update that after exploring a lot of options it seems the only way forward is WebRTC. We have manage to implement streaming and enhancing it for full both way video chat. If we manage to implement it then we may not need Twilio at all.

It's sad that there is no other alternative for an out of box full streaming solution. To all those who want to implement streaming/broadcasting you

[2021-01-28 16:30] ceaglest commented on #497
Hi @aksthelion,

We don't support broadcasting at the moment but this is something that we are still interested in. (WebRTC on its own is not a broadcast / streaming solution either).

I'm sorry that we are not able to meet your requirements today, but good luck with your broadcasting endeavour.

Best,
Chris

[2021-01-29 20:26] piyushtank commented on #537
Please feel free to reopen or file another ticket if you run into any issues.

[2021-01-29 20:26] #537 closed

[2021-01-29 20:27] piyushtank commented on #580
Closing the ticket but feel free to reopen or open another ticket if you have any issues.

[2021-01-29 20:27] #580 closed

[2021-01-29 20:30] #548 closed

[2021-01-29 20:34] piyushtank commented on #123
Closing an old ticket. Feel free to reopen or file another ticket if you run into any issues.

[2021-01-29 20:34] #123 closed

[2021-01-29 20:36] piyushtank commented on #352
Closing an old ticket. Feel free to reopen or file another ticket if you run into any issues.

[2021-01-29 20:36] #352 closed

[2021-01-29 20:39] piyushtank commented on #225
Closing an old ticket. Feel free to reopen or file another ticket if you run into any issues.

[2021-01-29 20:39] #225 closed

[2021-01-29 20:47] piyushtank commented on #476
Closing an old ticket but feel free to reopen or file another if you run into any issues.

[2021-01-29 20:47] #476 closed

[2021-01-29 20:47] piyushtank commented on #530
Closing an old ticket but feel free to reopen or file another if you run into any issues.

[2021-01-29 20:47] #530 closed

[2021-01-29 20:49] piyushtank commented on #558
Closing an old ticket but feel free to reopen or file another if you run into any issues.

[2021-01-29 20:49] #558 closed

[2021-01-29 20:58] paynerc commented on #570
@kheldiente,

First off, I want to apologize for not getting back to you on this sooner. Are you still seeing this issue?

I have just tested this using the CallKit QuickStart, the latest TwilioVideo release (`4.2.0`) and my AirPods. I schedule the notification for the incoming call, lock the device and wait for the notification. I trigger it to simulate an incoming VoIP notification and get the C